[2014-12-15 20:32] LeandroBraier opened #38 "Modificaciones en Home Benteveo"
Fede, tenemos que actualizar el texto de web y agregar la sección INNOVACIÓN. Además del texto que te sumo, debajo de esa sección, a modo de "clientes" aparecerían 5 logos: los de Siguit, Smartshopping y 3 servicios más que ofrecemos, cada uno clickeable para acceder a una pequeña landing propia de la presentación de dicho producto. Te adjunto los logos de cada una, después avanzamos con las landi

[2014-12-15 20:32] LeandroBraier commented on #37
exacto. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-15 17:31 GMT-03:00 mkreyness notifications@github.com:

[2014-12-15 21:31] mkreyness commented on #22
Ahi le baje un poquito, igual no es una ciencia exacta.
Ojo, solo esta cambiado en chat benteveo, NO en rioancho.

On 15/12/2014 04:40 p.m., LeandroBraier wrote:

[2014-12-16 11:53] LeandroBraier commented on #37
Buen día Marce! Hoy podremos tener por lo menos las primeras quince landings subidas con el dominio correcto?

Me refiero a http://benteveo.tv. Lo ideal sería tener todas, pero no sé cómo viene la cosa y ya hoy necesitaríamos estar enviándolas.

[2014-12-16 12:22] FAAREIA commented on #37
Alguien sabe algo de Marce S? Si delega apenas se levanta joya.

El 16 de diciembre de 2014, 8:53 a. m., LeandroBraier<
notifications@github.com> escribió:

[2014-12-16 12:24] LeandroBraier commented on #37
Ayer a la noche me escribió pero le dije de mejor hacerlo hoy, porque era
tarde y cualquier cosa que pasaba era un lío. Coordiná con él directamente,
él ya tiene todo listo pero quiere saber cómo vas a hacer el traspaso. Por
fa mandale un mail explicándole así ya coordinas el horario y copiame así
estoy al tanto.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://be

[2014-12-16 12:26] mkreyness commented on #37
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/37#issuecomment-67148490

[code]

[2014-12-16 12:52] LeandroBraier commented on #37
Mmm, metámosle pata a la mudanza del hosting, Fede, por favor. Le enviaste
mail a Marce S? Así coordinamos urgente.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-16 9:26 GMT-03:00 mkreyness notifications@github.com:

[2014-12-16 12:53] LeandroBraier commented on #37
Ahi le envío

El 16 de diciembre de 2014, 9:51 a. m., Leandro Braier<
leandrobraier@gmail.com> escribió:

[2014-12-17 13:22] LeandroBraier opened #39 "Upgrade WebMail Benteveo"
Fede, porfa pedile a Fede G las siguientes dos cosas respecto del webmail:

1) Que la url sea como la gente. No podemos estar usando esta url que encima tira acceso no seguro.

2) Buscar un sistema mejor que Round CUbe que al menos permita estas dos cosas que te menciono.

Puede ser para la semana que viene, no es tan urgente.

[2014-12-17 14:00] LeandroBraier commented on #37
Hecho, gracias!

[2014-12-17 14:00] #37 closed, assigned to mkreyness

[2014-12-17 14:00] #25 closed, assigned to FAAREIA

[2014-12-17 14:01] #36 closed, assigned to mkreyness

[2014-12-18 13:39] #35 closed, assigned to FAAREIA

[2014-12-18 13:40] #34 closed, assigned to mkreyness

[2014-12-18 13:40] #32 closed, assigned to FAAREIA

[2014-12-18 13:45] LeandroBraier commented on #30
Fede, este tema me lo quedo yo por ahora. Estoy investigando una manera de no tener que maquetarlo. Te aviso. abrazo

[2014-12-18 15:31] FAAREIA commented on #30
Creo que lo que buscabas es esto:
http://benteveo.tv/mailing/benteveo-tv/benteveo-tv.html

Lo tenía hecho hace rato, me parecia raro que nunca me hayas respondido el email en su momento. Fijate si sirve.

[2014-12-18 20:07] LeandroBraier commented on #22
Marce, el mensaje que está apareciendo en el chat de Benteveo no es el que habíamos hablado.

Fijate:
![captura de pantalla 2014-12-18 a la s 17 09 22](https://cloud.githubusercontent.com/assets/6719872/5494966/4050b98e-86d8-11e4-8749-97d5dd69d78a.png)

Tiene que ser este:

"Estamos con otra consulta en este momento. Déjanos un mail y nos contactaremos a la brevedad. Gracias."

confirmame cuando e

[2014-12-18 20:12] mkreyness commented on #22
Ese es el mensaje que da cuando hay un ERROR, por ejemplo si falla la
conexion con el servidor.
No seria raro con todos los cambios de hosting que se haya arruinado algo.
Probablemente Fede deberia sacarle el "chat.benteveo.tv" y cambiarlo por
"www.benteveo.tv".

Lo pone automaticamente la pagina, sin llegar a mi programa.
El mensaje que vos me dijiste es el que se manda cuando pasa un tiempo
sin

[2014-12-18 20:29] LeandroBraier commented on #22
Gracias Marce. Sino lo detectás avisame y le aviso a Fede.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-18 17:12 GMT-03:00 mkreyness notifications@github.com:

[2014-12-18 21:01] mkreyness commented on #22
A mi no me da el error, me sale el cartel correcto despues de esperar
demasiado tiempo.

"Estamos con otra consulta en este momento. Dejanos un mail y nos
contactaremos a la brevedad. Gracias."

Me parece que lo que debe ser es que con el browser que estas probando
timeoutea.
Ahi le baje el tiempo a la mitad y da bastante exacto 1 minuto.
Fijate si ahora no te sale ese error.

On 18/12/2014 05:29

[2014-12-18 21:03] LeandroBraier commented on #22
Ahí lo probé y me da de vuelta el tema de mantenimiento.

De última cambiá ese mensaje. Si timeoutea que muestre el mismo mensaje
igual, que no diga que estamos en mantenimiento nunca y listo. No?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-18 18:01 GMT-03:00 mkreyness notifications@github.com:

[2014-12-18 21:07] mkreyness commented on #22
A mi me anda bien, que browser estas usando ? Es en una Mac ?
No se si es que timeoutea, es CUALQUIER error en la comunicacion entre
el browser y el servidor.

El asunto es que lo que sea que el tipo escribio se PERDIO, nunca nos
llego bajo ningun concepto, entonces hacerle creer que tenemos su mail y
le vamos a contestar es una total mentira.
Por eso en vez de decirle "ESTA TODO MAL Y NO TE DAMOS

[2014-12-18 21:15] mkreyness commented on #22
Digo todo lo que me viene a la mente:
Cuanto tarda en darte ese mensaje, es inmediato ?
Capaz es realmente por lo de que la pagina llama a chat.benteveo.tv.
Eso cada browser puede estar guardando algun cache feo.
Fijate si vacias cache.

On 18/12/2014 06:07 p.m., Marcelo Kreyness wrote:

[2014-12-18 21:28] LeandroBraier commented on #22
Entiendo. Es que hoy más temprano me anduvo bien también. O sea que hay que
investigar qué cambió para que esto ocurra. Hay que hablarlo con Fede,
quizá él hizo algún cambio.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-18 18:07 GMT-03:00 mkreyness notifications@github.com:

[2014-12-18 21:33] mkreyness commented on #22
Lo que SEGURO hay que cambiar es que no acceda mas por el dominio
chat.benteveo.tv, ahora es todo local (la pagina esta en el mismo
www.benteveo.tv), asi que lo puede dejar directamente sin ningun
dominio, para mayor tranquilidad de los browsers que no les gusta el
acceso cross-domain.

On 18/12/2014 06:28 p.m., LeandroBraier wrote:

[2014-12-19 11:14] FAAREIA commented on #22
Ahi ya lo cambié en benteveo y rio ancho.
Marce, lo que hay dentro de la carpeta chat lo borro?

El 18 de diciembre de 2014, 6:33 p. m., mkreynessnotifications@github.com
escribió:

[2014-12-19 11:29] LeandroBraier commented on #22
Gracias Fede! Ya podemos probar entonces el chat de nuevo a ver si ahora da
el mensaje correcto?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-19 8:14 GMT-03:00 Federico Arena notifications@github.com:

[2014-12-19 11:43] mkreyness commented on #22
[code]

https://cloud.githubusercontent.com/assets/6719872/5494966/4050b98e-86d8-11e4-8749-97d5dd69d78a.png

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/22#issuecomment-67548414

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/22#issuecomment-67549140

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/22#issuecomment-67551579

[code]

https://github.com/LeandroBr

[2014-12-19 12:15] FAAREIA commented on #22
perfecto

El 19 de diciembre de 2014, 8:43 a. m., mkreynessnotifications@github.com
escribió:

[2014-12-19 12:26] mkreyness commented on #22
[code]

https://cloud.githubusercontent.com/assets/6719872/5494966/4050b98e-86d8-11e4-8749-97d5dd69d78a.png

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/22#issuecomment-67548414

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/22#issuecomment-67549140

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/22#issuecomment-67551579

[code]

https://github.com/LeandroBr

[2014-12-19 12:45] LeandroBraier commented on #22
Gracias Marce! Dale, yo me lo agendo. Como es la password de ese mail?

[2014-12-19 20:24] FAAREIA commented on #39
Como me imaginé, puso esto:

Pueden armar una short-URL con https://bitly.com/. Por otro lado, Chrome tiene una opción para guardar siempre la excepción de seguridad.

RoundCube es el único webmail que tenemos.

Si quieren algo mejor les recomiendo GoogleApps for Domains. Ahí el webmail pasa a ser Gmail (obviamente tienen que migrar todo el email dentro de Google).

---

La short-url es buena, per

[2014-12-19 23:32] LeandroBraier commented on #39
Me parece bien lo que dice. La URL es lo de menos.

Lo que dice de GoogleApps la verdad no lo entiendo, pero si nos va a
permitir manejar el mail desde gmail hagamoslo sin duda. Vos sabés cómo se
hace?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2014-12-19 17:24 GMT-03:00 Federico Arena notifications@github.com:

[2014-12-22 13:05] FAAREIA commented on #39
La de GMail es buena, de hecho la hice para un cliente aunque me salió mal.
Para hacer la mudanza desde el servidor a Gmail, el servidor tiene que tener unas configuraciones muy particulares, que Duplika las hizo para mi cliente, pero aún asi no las tomaba.
También hay que tener en cuenta que el costo para hacerlo es de 50 dolares por año por cada cuenta.
=/

[2014-12-22 14:56] FAAREIA commented on #38
Hola Lea, fijate si esta todo ok:
http://benteveo.tv/index2.html

[2014-12-22 19:08] LeandroBraier commented on #38
Está perfecto, Fede. Subilo a producción nomas y avisame.

Abrazo

Federico Arena notifications@github.com escribió:

[2014-12-23 12:24] FAAREIA commented on #38
Hola Lea, ahi lo subí

[2014-12-23 17:54] LeandroBraier commented on #38
Perfecto, Fede. Gracias!

[2014-12-23 17:54] #38 closed, assigned to FAAREIA

[2014-12-29 19:21] LeandroBraier commented on #22
Marce, cómo andás? No te olvides de pasarme la password de este mail así puedo borrar los mensajes que me pedís. abrazo

[2014-12-29 19:25] mkreyness commented on #22
Bien, reintegrado despues de una semanita de vacaciones.

Creo que la clave me la pasaste vos cuando se creo la cuenta:
user: robotchat@benteveo.tv
pass: avisame

Si, la pass es 'avisame'.

On 29/12/2014 04:21 p.m., LeandroBraier wrote:

[2014-12-29 19:28] LeandroBraier commented on #22
Perfecto, gracias!

[2014-12-29 19:28] #22 closed, assigned to mkreyness

[2014-12-31 13:23] LeandroBraier commented on #30
Está muy bueno, Fede. Lo hablo con Eze la semana que viene y vemos cómo podríamos hacer para cargar los contenidos una vez que el template esté aprobado. Sería ideal cargarlo via CMS como las landings y mails de cadena de mails.

abrazo y feliz año!

[2014-12-31 13:24] LeandroBraier opened #40 "Landing Siguit"
Fede, en carpeta Benteveo Maquetador te dejo esta Landing en PSD para subir a la web de Benteveo. Es la landing que tiene que aparecer cuando se hace click en el logo de Siguit en la Sección Innovación.

Cualquier duda me avisás. Necesitaríamos tener las tres landings subidas para el viernes 9 de enero.

abrazo

[2014-12-31 13:25] LeandroBraier opened #41 "Landing SmartShopping"
Fede, en carpeta Benteveo Maquetador te dejo esta Landing en PSD para subir a la web de Benteveo. Es la landing que tiene que aparecer cuando se hace click en el logo de SmartShopping en la Sección Innovación.

Cualquier duda me avisás. Necesitaríamos tener las tres landings subidas para el viernes 9 de enero.

abrazo

[2014-12-31 13:26] LeandroBraier opened #42 "Landing WebChat"
Fede, en carpeta Benteveo Maquetador te dejo esta Landing en PSD para subir a la web de Benteveo. Es la landing que tiene que aparecer cuando se hace click en el logo de WebChat en la Sección Innovación.

Cualquier duda me avisás. Necesitaríamos tener las tres landings subidas para el viernes 9 de enero.

abrazo

[2015-01-05 22:09] LeandroBraier commented on #39
Ok, ya está resuelto esto, Fede. Era muy simple, en Settings/ Accounts & Imports de Gmail hay una opción para hacer esto. Los borra del servidor de Benteveo y los traslada a gmail, así que todo en orden.

abrazo

[2015-01-05 22:09] #39 closed, assigned to FAAREIA

[2015-01-05 22:11] LeandroBraier opened #43 "Corrección en Template de Mails Cadena de mails: Links a Landings"
Fede, puede ser que los links del template los hayas armado así: http://benteveo.tv/marea?mail=1 ???

Si es así, necesito que lo corrijas para mañana. Antes los armabamos asi: http://benteveo.tv/marea/?mail=1

Esa es la única forma de que me aparezca la URL customizada en analytics. Ahora me aparece simplemente "/marea/" y no sé si es un testeo nuestro o el link único que viene del mail.

Confirma

[2015-01-06 13:53] FAAREIA commented on #40
http://www.benteveo.tv/siguit/

Faltaría que me pases los iconos en vector. Todo lo del photoshop estaba rasterizado

[2015-01-06 14:10] FAAREIA commented on #43
Agrego a Marce K. a este issue. Desconozco porque te aparece la barra ahora.
La URL esa de donde se arma?

[2015-01-06 14:20] LeandroBraier commented on #40
Buenisimo! Lo veo bien como versión mobile. Habría que hacer una versión más ancha para web, no?

No hace falta los íconos en Vector, se ve bien así. Para qué los necesitarías?
![captura de pantalla 2015-01-06 a la s 11 23 09](https://cloud.githubusercontent.com/assets/6719872/5629788/f135e712-9595-11e4-8b6c-20b20e64d3b5.png)

Lo único que veo desalineado es el "Desarrollado y producido por..." FI

[2015-01-06 14:25] FAAREIA commented on #40
Lo que veo que me enviaste en todas las landing lo tomo como la versión desktop. Que tiene poco ancho, pero funciona igual.

Los iconos los necesito en vector asi uso SVG y no uso imágenes ampliadas para retina.

La versión que te pase se ve bien hasta 640px, en resoluciones menores hay que adaptarlo.

[2015-01-06 14:26] FAAREIA commented on #40
Los iconos de los circulos de color nomas, lo otro es imagen

[2015-01-06 14:33] LeandroBraier commented on #40
Ok, te los tramito a esos íconos. Entiendo lo que decís de la versión
desktop pero no veo que quede alineado con la estética que usamos en el
sitio de Benteveo en general. Recordá que esta landing se deriva de un
botón que está en la home del sitio de Benteveo. FIjate si podés adaptar el
diseño para que funcione mejor.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones htt

[2015-01-06 14:50] FAAREIA commented on #40
Si queres rediseño las 3 landing asi las hago desktop y luego las adapto a mobile, pero para el viernes no llegamos.

[2015-01-06 14:51] LeandroBraier commented on #40
Ok, entiendo, pero me parece mejor hacerlo. Tengamos la de Siguit para el
viernes nomás y las otras dos para mediados de la semana que viene están
bien.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Tue, Jan 6, 2015 at 11:50 AM, Federico Arena notifications@github.com
wrote:

[2015-01-06 16:36] mkreyness commented on #43
Es el template que armaste en su momento, mi programa reemplaza el
titulo-safe, pero en el template falta la "/".

Aca:
www/mailing/marcas-alternativo/marcas.html

<a href="http://benteveo.tv/?mail=1

debe decir:

<a href="http://benteveo.tv//?mail=1

no lo hago yo para que tu backup este actualizado y no se pise por error.

On 06/01/2015 11:10 a.m., Federico Arena wrote:

[2015-01-06 18:42] LeandroBraier commented on #40
Ahi te subí los vectorizados a BENTEVEO MAQUETADOR.

[2015-01-07 11:25] FAAREIA commented on #43
hecho

[2015-01-07 11:51] LeandroBraier commented on #43
Gracias Fede!

[2015-01-07 11:51] #43 closed, assigned to mkreyness

[2015-01-12 21:57] LeandroBraier opened #44 "Problemas de Metadata en Benteveo"
Fede, fijate lo que me dice este reporte:

http://www.metricspot.com/www.benteveo.tv

Lo que más me preocupa es lo primero lo del redireccionamiento de WWW pero fijate todo lo que menciona el reporte y hagamos las correcciones necesarias, en caso de ser confiable la fuente.

abrazo

[2015-01-13 11:49] FAAREIA commented on #44
Que haces Lea, ahi le corregí eso de no-www a www
Por otra parte, también corregí algunos atributos obsoletos en el html. Después todo lo otro es lo ya charlado, por ejemplo:
- Meta description de más de 145 caracteres. He leido que igual sirve
  Sitemap. No hace falta.
- URL limpias. Eso debe ser lo de marce y las landing page. PERO igual no influye porque no posiciona.
- Etiquetas repetidas. Es

[2015-01-13 12:16] LeandroBraier commented on #44
Perfecto, gracias Fede.

Respecto de la metadescription, igual acortala si podés de la siguiente
manera:

Estrategia de comunicación, imagen de marca, campañas social media con
desarrollos interactivos, aplicaciones, acciones  y piezas publicitarias.

Y sumale el sitemap porfa, creo que en este caso vale la pena para Google.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Pr

[2015-01-13 13:07] FAAREIA commented on #44
Ahi actualicé todo e hice el sitemap

Abrazo

[2015-01-13 13:18] LeandroBraier commented on #44
Perfecto. Gracias Fede!!

abrazo

[2015-01-13 13:18] #44 closed, assigned to FAAREIA

[2015-01-13 13:18] LeandroBraier commented on #40
Fede, cómo venimos con esta landing? Llegamos para mañana?

abrazo

[2015-01-13 14:13] FAAREIA commented on #40
Esta terminando justo eso. Si esta ok, para fin de la semana ya esta
maquetada y responsiva

El 13 de enero de 2015, 10:18 a. m., LeandroBraiernotifications@github.com
escribió:

[2015-01-13 14:15] FAAREIA commented on #40
Me falto mover el icono del mundo!

Abrazooooooo

El 13 de enero de 2015, 11:13 a. m., Federico Arena<arena.federico@gmail.com

[2015-01-13 14:15] LeandroBraier commented on #40
Perfecto. Después de eso si podés avanzar tranqui con las otras landings,
con prioridad la de SmartShopping.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Tue, Jan 13, 2015 at 11:13 AM, Federico Arena notifications@github.com
wrote:

[2015-01-13 21:57] LeandroBraier opened #45 "Error en Landings de Marcas Campaña Benteveo"
Fede, fijate, no anda ninguna landing. ¿Qué puede ser?

Pongo esto:

http://benteveo.tv/limite-vertical/

Y me lleva a acá:

http://www.mr.benteveo.tv/cgi-bin/simarca.pl?q=mr/limite-vertical

Puede ser este cambio de www que hiciste hoy?

[2015-01-13 22:03] mkreyness commented on #45
Le agregaron algo para que fuerce un www delante ?
Eso es incompatible con todo lo que hicimos de que redireccione a
mr.benteveo.tv

On 13/01/2015 06:57 p.m., LeandroBraier wrote:

[2015-01-13 22:05] LeandroBraier commented on #45
Si, creo que si.

[2015-01-13 22:09] mkreyness commented on #45
No se que, pero habria que revertirlo, al menos que no aplique si YA hay
un subdominio como es mr.

On 13/01/2015 07:05 p.m., LeandroBraier wrote:

[2015-01-13 22:23] LeandroBraier commented on #45
Si, a full. Fede, vos lo podés ver a eso? POrque en estos días estamos retomando la campaña de mails.

[2015-01-13 23:52] FAAREIA commented on #45
Si, el redirect lo puse desde el htaccess
Comenté el redirect y ahora funciona como antes, habría que adaptarlo para
que no agarre subdominios ni nada. El código lo saqué de uno que siempre
uso, si podes adaptarlo Marce, joya. El regex nunca lo voy a entender.

Abrazo

2015-01-13 19:23 GMT-03:00 LeandroBraier notifications@github.com:

[2015-01-14 00:34] mkreyness commented on #45
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/45#issuecomment-69832608

[code]

[2015-01-14 00:42] LeandroBraier commented on #45
Gracias a los dos!

Igual siguen sin andar las landings. Puede ser?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-13 21:34 GMT-03:00 mkreyness notifications@github.com:

[2015-01-14 00:51] mkreyness commented on #45
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/45#issuecomment-69832608

[code]

https://github.com/LeandroBraier/BenteveoTV/issues/45#issuecomment-69849571

[code]

[2015-01-14 01:21] #45 closed, assigned to FAAREIA

[2015-01-14 01:21] LeandroBraier commented on #45
Cierto. Ahora sí.

Gracias a los dos!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-13 21:51 GMT-03:00 mkreyness notifications@github.com:

[2015-01-14 15:40] LeandroBraier opened #46 "Agregado de Video en Landings de Marcas"
Fede, necesito agregar un video más a las landings para las marcas. Este video iría debajo del "VER MÁS" que viene después de "CÓMO LO HACEMOS"

Debería tener un título igual a COMO LO HACEMOS pero que diga:

"Así mejoramos el posicionamiento de tu marca"

El video es este:

https://vimeo.com/116121085

abrazo

[2015-01-15 13:27] FAAREIA commented on #46
Hola Lea, ahi va:

Mail: http://www.benteveo.tv/mailing/marcas/marcas.html
Landing: http://mr.benteveo.tv/alternativa-comunica/

Si no ves la actualización en la landing, dale 30m+ porque capas que aún no se actualizó el template en el sistema.

Abrazo

[2015-01-15 13:52] LeandroBraier commented on #46
Gracias Fede!

Es cierto, no la veo aún.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Jan 15, 2015 at 10:27 AM, Federico Arena notifications@github.com
wrote:

[2015-01-15 15:26] LeandroBraier commented on #30
Fede, lo vimos con Eze. Necesitamos que les una estética más actual, más moderna.

Ejemplos:

http://appnew.embluejet.com/Online/VersionOnline.aspx?eQ2ek64aeVrcMOxPyq-R-30263-R-0-R-utm_source~emBlue+-+Newsletter+emBlue%7Cutm_medium~email%7Cutm_term~%7Cutm_content~%7Cutm_campaign~Newsletter+emBlue+-+Newsletter+Enero+2015

http://view.email.vimeo.com/?j=fec91770726c0479&m=fe8812717363017573&ls=fe1b1

[2015-01-15 15:28] LeandroBraier opened #47 "Firmas HTML Benteveo + Adaptación Apple"
Fede, para la semana que viene, tranqui, necesitaríamos esto para:

Mariana
Marcelo
Ezequiel
Leandro (yo)

Los mails sabes como son: NOMBRE DE PILA@benteveo.tv

El teléfono es el teléfono de Benteveo para todos. Tomá de referencia la firma mía o la de Eze en los mails.

abrazo

[2015-01-15 15:34] LeandroBraier commented on #46
Che, revisé de nuevo y sigue sin aparecer. Lo chequeás porfa?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-15 10:51 GMT-03:00 Leandro Braier leandrobraier@gmail.com:

[2015-01-15 16:23] FAAREIA commented on #46
Le digo a Marce que lo renueve.

[2015-01-15 17:15] mkreyness commented on #46
[code]

[2015-01-15 17:49] LeandroBraier commented on #46
Lo veo chiquito al video, puede ser?

Miren.

http://mr.benteveo.tv/alternativa-comunica/

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Jan 15, 2015 at 2:15 PM, mkreyness notifications@github.com wrote:

[2015-01-15 18:00] mkreyness commented on #46
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/46#issuecomment-70121956

[code]

[2015-01-15 18:40] FAAREIA commented on #46
Ahi lo arreglé, estaba subiendo a otra ruta el mismo archivo. F5 y lo ven.
Por otra parte, la carpeta "_nucleo" que esta en "public_html" no la usa nadie no? Con esa me confundia

[2015-01-15 18:50] LeandroBraier commented on #46
Ahora perfecto. Gracias!

[2015-01-15 18:50] #46 closed, assigned to FAAREIA

[2015-01-15 18:54] mkreyness commented on #46
En los templates se referencia a ../_nucleo, supuestamente eso se
resuelve a mr/_nucleo porque se lo referencia desde mr/<marca>
Renombralo y vemos que pasa, si no pasa nada, matalo.

On 15/01/2015 03:40 p.m., Federico Arena wrote:

[2015-01-19 15:12] LeandroBraier opened #48 "200 nuevas landings más"
Marce, tengo 200 nuevas landings más para hacer. Consulta: si te paso el doc corregido, para cuando es lo más pronto que llegás a subirlas?

[2015-01-19 15:13] mkreyness commented on #48
[code]

[2015-01-19 15:17] LeandroBraier commented on #48
Ok, entiendo. Te lo paso apenas puedo y vos el martes a la tarde lo arrancás.

Gracias!

[2015-01-20 11:37] FAAREIA commented on #47
Hola Lea, acordate de mandarme eso!
Abrazo

[2015-01-20 11:45] FAAREIA commented on #41
Hola Lea, cuando puedas pasame todos los iconos que usaste en vector.
Abrazo

[2015-01-20 11:46] LeandroBraier commented on #47
Cierto Fede!

Acá van las URL y firmas
![unnamed](https://cloud.githubusercontent.com/assets/6719872/5816593/a0188f60-a080-11e4-9bdb-6326f23c3229.png)

https://gm1.ggpht.com/JdHgydl5_6YTPeBzLZadU-ugUu4215jJNrFPtU9DbJafaDuOzpceJOViEhLOFF-T8jQqTGiX6bZuAgjZ4Isp5jybKYN32niyGsmuIg2XNkI4-4i9OJYu0cqyYk8-W7cQ3Rb4vCfqgkG3A5HbW68lg55JsXhpZGa9E__YxKqfEKcw49kOVRu8miBZdFS5pgENB6Anqg89imBRr6-LGImYDLXZX4hGWTCCbI

[2015-01-20 13:17] FAAREIA commented on #47
Ok perfecto. En un rato ya lo pruebo y se los envío
Abrazo!

[2015-01-20 20:52] LeandroBraier commented on #48
Felicitaciones por la presentación de hoy Marce!!

Me dijero que fue muy bien.

Acá están los datos de las 200 nuevas para hacer. Sería ideal tenerlo para mañana a la mañana. Avisame para cuando llegamos, al menos con las primeras 50.

https://docs.google.com/spreadsheets/d/11pguWyk1Rhfmgnh1NU2xivv8cfH_NiXsL4EnGxo5mEM/edit#gid=0

[2015-01-20 21:02] mkreyness commented on #48
Ahora lo hago, pero no tengo claro QUE, porque fuimos cambiandolo con el
paso de los dias.
Esto lo vuelco al CMS para que se generen las paginas ? Se va a manejar
como cadena de mails para que los manden uno por uno con el editor de HTML ?

On 20/01/2015 05:52 p.m., LeandroBraier wrote:

[2015-01-20 21:16] LeandroBraier commented on #48
Ambas dos. NEcesito las landings y que estén cargadas en el CMS para mandar
los mails con el editor HTML uno por uno.

Tené en cuenta que sea la última versión de las landings, que tiene un
segundo video en el cuerpo de la landing.

http://mr.benteveo.tv/bowen-london/

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-20 18:02 G

[2015-01-20 21:23] mkreyness commented on #48
Ok.
Es todo automatico, yo las cargo y se generan todas de la unica manera
posible.
Lo que no tengo previsto es usar un 2do email, tendria que modificar el
CMS y los procesos para eso, vale la pena o lo hago todo con el primer
mail y listo ?

On 20/01/2015 06:16 p.m., LeandroBraier wrote:

[2015-01-20 21:27] LeandroBraier commented on #48
Hacelo todo con el primer mail, no hay drama. Ya te borré los segundos
mails del doc.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-20 18:23 GMT-03:00 mkreyness notifications@github.com:

[2015-01-20 21:37] mkreyness commented on #48
Listo, pero muchos me dieron que ya estaban, por ejemplo:
'oligra'.'corte-criollo','jugos-asuncion','tanoni','inalpa','prolum','iluminando','lunina-iluminacion','emege','plasticos-arenales','multilabel','saigra','arriavata','puerta-sur','polair'

Es correcto ?

On 20/01/2015 06:27 p.m., LeandroBraier wrote:

[2015-01-20 23:41] LeandroBraier commented on #48
Si ya están no los vuelvas a crear. Cualquier cosa te aviso. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-20 18:37 GMT-03:00 mkreyness notifications@github.com:

[2015-01-21 11:57] FAAREIA commented on #47
Ahi va un ejemplo:
http://benteveo.tv/_email-firma-ms.html

Al logo le saqué esos efectos, ya que a las marcas no se les debe agregar nada extra en el logo.

[2015-01-21 12:16] LeandroBraier commented on #47
Perfecta. Sería ideal que la palabra BENTEVEO debajo del nombre sea en
"Regular" no en "Bold" pero así está bien igual.

Si podés pasame los html de estas tres y, si alguien me pide una, la puedo
adaptar yo reemplazando simplemente en el html, verdad?

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-21 8:57 GMT-03:00 F

[2015-01-21 15:32] FAAREIA commented on #41
![smartshop](https://cloud.githubusercontent.com/assets/6184969/5838930/7f1b4200-a169-11e4-80bb-d1e0b28a8178.png)

[2015-01-21 15:37] FAAREIA commented on #47
Ahi actualicé la firma lea. Avisame!

[2015-01-21 15:37] LeandroBraier commented on #41
Entiendo los cambios que hiciste para simplificar pero me parece que se
pierden cosas en el camino. ¿No se puede hacer más parecido al template que
te mandé? Respetando los textos y las gráficas explicativas? Porque así
queda puro texto y la imagen no te dice mucho.

Tené en cuenta que tengo (si bien no todas) las figuras vectorizadas como
me pedías. Algunas se pueden conseguir en
http://sp.deposi

[2015-01-21 15:38] LeandroBraier commented on #47
Está perfecta. Pasame directamente los 3 códigos HTML y estamos.

Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Wed, Jan 21, 2015 at 12:37 PM, Federico Arena notifications@github.com
wrote:

[2015-01-21 15:39] LeandroBraier opened #49 "Posible nuevo video para la Home de Benteveo"
Consulta técnica Fede.

Nosotros podemos poner un video en loop como este no?

https://www.airbnb.com.ar/

Entiendo que es similar a lo que ya tenemos.

[2015-01-21 16:28] FAAREIA commented on #49
Si, es igual al que tenemos pero con otras dimensiones

[2015-01-21 16:36] FAAREIA commented on #41
Hola Lea, el tema con lo que me enviaste es que no es viable para desktop. Osea, no tengo forma de generar fondos infinitos/repetidos en base a las formas y vectores que usaste en algunos fondos. Por ejemplo, el fondo de la tienda con gente comprando, es irrepetible.

Entiendo lo que decis de que pierde esa cosa visual, pero el usuario gana en rapidez de lectura y evitamos que se asuste con una pá

[2015-01-21 16:37] LeandroBraier commented on #49
Perfecto, me quedo el ticket para cuando tengamos el nuevo video entonces.

Consulta: ¿se puede hacer en FULL HD un video con ese codec? De forma que, si alguien tiene una banda ancha que se lo permite, pueda ver el video en HD, y si no lo tiene lo vea en menor definición.

abrazo

[2015-01-21 16:41] FAAREIA commented on #47
http://www.benteveo.tv/_email-firma-ec.txt
http://www.benteveo.tv/_email-firma-lb.txt
http://www.benteveo.tv/_email-firma-ma.txt
http://www.benteveo.tv/_email-firma-ms.txt

[2015-01-21 16:58] LeandroBraier commented on #47
Excelente, Fede. Gracias!!

[2015-01-21 17:02] LeandroBraier commented on #47
Perdón, me las mandarías también como las de Río Ancho? Es decir, con el HTML subido como una página web?

Para GMAIL necesito eso, en el webmail de Benteveo ya me quedó joya.

abrazo

[2015-01-21 18:33] LeandroBraier commented on #41
Entiendo. Entonces vamos con una versión así para que la vea Eze y si le
gusta ya está. Solo te pido dos correcciones:

1) Está mal escrito "Establecemos"

2) En esa primera parte incluí esa dinámica que quitaste del diseño
original, en la que se ve a la izquierda un teléfono, a la derecha 3
tipitos blancos y al medio Smart Shopping.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Be

[2015-01-22 12:38] FAAREIA commented on #49
Hola Lea, FULL HD es 1920x1080, es independiente de la extensión creo.
Por otra parte, si queres detectar la diponibilidad de banda ancha habría que verlo con Marce. Ya se habló en su momento algo similar y para ese proyecto no convenia. El tema de comprobar la banda ancha, al que tiene poca lo mata, y al que le sobra no le influye.

[2015-01-22 12:40] FAAREIA commented on #47
El archivo es el mismo, osea, en vez de .txt ponele .html
En gmail tenes que subir un archivo de firma? Si tenes que copiar y pegar, copia lo del .txt y pegalo en gmail

Avisa!

[2015-01-22 12:44] LeandroBraier commented on #49
Ok, entiendo. No te preocupes.

Iremos probando distintas versiones entonces de resolución hasta que alguna
funciona bien en baja velocidad pero con buena calidad de imagen.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-22 9:38 GMT-03:00 Federico Arena notifications@github.com:

[2015-01-22 13:07] LeandroBraier commented on #47
Entendido!

Resuelto.

[2015-01-22 13:07] #47 closed, assigned to FAAREIA

[2015-01-22 13:19] FAAREIA commented on #41
Ahi van los cambios Lea
Abrazo
![smartshop](https://cloud.githubusercontent.com/assets/6184969/5856252/204864ee-a220-11e4-97ad-78f0af75b023.png)

[2015-01-22 13:23] LeandroBraier commented on #41
Está OK!!

Solo corregí la palabra "bi-direccional" y subila nomás.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Jan 22, 2015 at 10:19 AM, Federico Arena notifications@github.com
wrote:

[2015-01-22 13:44] FAAREIA commented on #49
En realidad estas medio atado ahi, tenes solamente 3 codec de video posibles y no sólo eso.....el navegador selecciona de esos 3, primero los válidos y luego el formato preferido. =/

[2015-01-22 13:46] FAAREIA commented on #41
Te mando la image final o ya la empiezo a hacer HTML?

[2015-01-22 13:53] LeandroBraier commented on #49
No digo por formato sino por la calidad del video en si, la resolución, etc.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-22 10:44 GMT-03:00 Federico Arena notifications@github.com:

[2015-01-22 14:27] LeandroBraier commented on #41
Hacela nomas con esa pequeña corrección

Federico Arena notifications@github.com escribió:

[2015-01-22 15:34] FAAREIA commented on #41
Ok dale

[2015-01-22 15:35] FAAREIA commented on #30
Ahi va un preview sin terminar, faltaría el pié que cerraria el diseño

![nwlt](https://cloud.githubusercontent.com/assets/6184969/5858586/18036ea6-a233-11e4-8fa8-9446549a8e78.png)

[2015-01-22 15:36] FAAREIA commented on #30
Si hay alguna data extra que quieran poner, avisenme.

[2015-01-22 17:38] LeandroBraier commented on #30
Más allá de la data lo sigo viendo como antiguo. Comparado con el de
Embleu. FIjate si sacando el serruchito y poniendo todo centrado no queda
mejor. Eso me parece que llama la atención del de Embleu.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Jan 22, 2015 at 12:36 PM, Federico Arena notifications@github.com
wrote:

[2015-01-22 17:39] LeandroBraier commented on #41
Cuando le pongas el nombre de la página a la landing, corregí la de Siguit
también.

Nombre de página de la landing de Siguit: Siguit by Benteveo

Nombre de página de la landing de SmartShopping: SmartShopping by Benteveo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Jan 22, 2015 at 12:34 PM, Federico Arena notifications@gi

[2015-01-23 13:33] FAAREIA commented on #30
Ok, vamos a ver que vuelta le damos. Pruebo como quedaría algo similar al embleu

[2015-01-23 18:02] FAAREIA commented on #41
Ahi va el sitio sin versio responsiva:
http://www.benteveo.tv/_smartshop/

La trama de fondo se ve bastante mal. El tema es que no puedo ponerle multiply o esos filtros photoshop en web, por lo que cuando tenga el logo adapto la img para que quede similar al original.

Abrazo!

[2015-01-23 18:07] LeandroBraier commented on #41
Está perfecto. Que la url diga el nombre completo "smartshopping". Lo demás
joya. La versión responsiva cuando puedas.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-23 15:02 GMT-03:00 Federico Arena notifications@github.com:

[2015-01-26 13:20] FAAREIA commented on #41
Hola Lea, ahi esta listo:
http://www.benteveo.tv/_smartshopping/

Abrazo

[2015-01-26 13:35] LeandroBraier commented on #41
Genial. Lo único, en los dos iconos de abajo tendrían que estar Siguit y
Social Monitor, no Social Shopping.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Jan 26, 2015 at 10:20 AM, Federico Arena notifications@github.com
wrote:

[2015-01-26 16:50] FAAREIA commented on #30
Hola Lea, ahi te adjunto otra muestra. Ésto si es mucho más visual, pero hay que tener en cuenta que TODO va a ser imágen, no es posible pasarlo a HTML para newsletter.
![nwlt-2a](https://cloud.githubusercontent.com/assets/6184969/5903749/421533fa-a562-11e4-9c2d-3bd6f922b466.png)

[2015-01-26 17:04] FAAREIA commented on #41
Ahi esta actualizado lea

[2015-01-27 14:30] LeandroBraier commented on #30
Estéticamente está buenísma, pero si es todo una sola imagen no nos sirve.
Por qué no lo podés hacer como Embleu, que es HTML?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-26 13:50 GMT-03:00 Federico Arena notifications@github.com:

[2015-01-27 16:29] FAAREIA commented on #30
OK entiendo, ahi probé como quedarían las imagenes en el de Emblue y va bien. Lo arranco a hacerlo asi de una?

[2015-01-27 16:46] LeandroBraier commented on #30
Si. La estética está excelente. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Tue, Jan 27, 2015 at 1:29 PM, Federico Arena notifications@github.com
wrote:

[2015-01-27 17:10] FAAREIA commented on #42
Ahi va el diseño, avisame y avanzamos!
Abrazo

![webchat](https://cloud.githubusercontent.com/assets/6184969/5922924/2c696f18-a62e-11e4-9346-32024d45e070.png)

[2015-01-27 17:10] FAAREIA commented on #42
El chat podría estar funcionando asi la gente lo prueba.

[2015-01-27 17:53] LeandroBraier commented on #42
No entiendo la captura. No tiene nada que ver con el diseño que te había enviado, o si?

Está bueno que el chat esté ahí y funcione, pero cuál sería? El mismo que el de Benteveo o el que aparece embebido en el html?

[2015-01-28 13:04] FAAREIA commented on #42
Claro, la pantalla la rehice. El tema es que el monitor y la lupa no pueden estar al corte porque en monitores anchos no funcionaría, solo en celulares.
El chat sería el mismo de siempre, pero con ese estilo.

[2015-01-28 14:01] LeandroBraier commented on #42
Pero no la veo bien a la captura, se ve fea, cortada. Mirá como la veo. Seguro que no es tu adaptación eso.

![captura de pantalla 2015-01-28 a la s 10 52 43](https://cloud.githubusercontent.com/assets/6719872/5938584/24c29912-a6db-11e4-8bfa-e87966988284.png)

[2015-01-28 15:19] FAAREIA commented on #42
El margen no lo tiene, pero en realidad la columna del blanco va al 100% del alto de pantalla, igual que la línea. Después no supe que mucho más agregarle, me veia con pocos elementos y contenido para jugar un poco =/

[2015-01-28 15:21] LeandroBraier commented on #42
Ok, entonces buscale una vuelta más linda tomando cosas del diseño que te
mandé. La verdad que así es medio impresentable. Si querés pasarme una refe
y que lo rediseñemos con el diseñador en base a la refe lo hacemos. Tenemos
tiempo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-28 12:19 GMT-03:00 Federico Arena notificatio

[2015-01-28 17:15] FAAREIA commented on #30
Hola Lea, ahi va el news:
http://www.benteveo.tv/mailing/benteveo-tv/benteveo-tv.html

[2015-01-28 17:17] FAAREIA commented on #42
Voy a tratar de darle otra vuelta. Lo que me habías enviado no puedo usar mucho, esta todo al borde o en diagonal. Ponerlo aislado en el centro, lo probé y no me cerraba mucho.

[2015-01-28 17:57] LeandroBraier commented on #30
Me gustó, che. Dejame que lo chequee con Eze.

De hecho creo que podríamos utilizar esta onda para algunos cambios en la
home que se vienen este mes. Te confirmo. abrazo!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Wed, Jan 28, 2015 at 2:15 PM, Federico Arena notifications@github.com
wrote:

[2015-01-28 17:57] LeandroBraier commented on #30
Pero andá avanzando en ponerle a esto los contenidos de Benteveo que tenías.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-28 14:56 GMT-03:00 Leandro Braier leandrobraier@gmail.com:

[2015-01-29 13:12] FAAREIA commented on #30
Hola Lea, guarda que para mi, este tipo de estructuras funciona bien en cajas de poco ancho, hay que ver como quedaría en un sitio web que tiene al menos 300px más de ancho.

Avanzo maquetandolo o le pongo en photoshop una receta y pelicula?

[2015-01-29 13:27] LeandroBraier commented on #30
Cargale los contenidos que tenías en las versiones anteriores de peli, etc
a esta misma versión maquetada. Así se la muestro a Eze.

No entiendo lo de la página web porque supuestamente esto es un mail. De
última si hace clic y la veo en versión web no importa que sobre espacio a
los costados, no?

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.t

[2015-01-29 13:42] FAAREIA commented on #30
Ah, creo que te había entendido mal. Olvidate. La version web de este newsletter va a ser igual.

[2015-01-29 13:56] FAAREIA commented on #30
Ahi lo actualicé!
Abrazo

[2015-01-29 15:50] FAAREIA commented on #42
Algo asi podría ser, le agregué unos títulos sino la verdad se hace muy dificil llenar los espacios y crear algo "sólido". Decime que te parece. Abrazo

![webchat](https://cloud.githubusercontent.com/assets/6184969/5960577/45119fda-a7b5-11e4-9092-3d40a513ef90.png)

[2015-01-29 16:06] LeandroBraier commented on #42
Lo veo OK. Vamos adelante nomás. Está bien.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-01-29 12:50 GMT-03:00 Federico Arena notifications@github.com:

[2015-01-30 15:38] FAAREIA commented on #42
Hola Lea, ahi va la landing.
Con respecto al chat, ¿queres que funcione igual que el chat de benteveo? ¿o lo mandamos a otro mail?

http://benteveo.tv/_web-chat/

Avisa!
Abrazo

[2015-02-02 22:58] LeandroBraier commented on #41
Perfecto. Subilo a la web directamente. El de WebChat también.

abrazo

[2015-02-03 11:48] FAAREIA commented on #41
Hola Lea, vos decis que ponga los links en la web de benteveo?
¿Smartshopping y webchat no tienen urls propias?

[2015-02-03 13:00] LeandroBraier commented on #41
Nop. Esas no.

Federico Arena notifications@github.com escribió:

[2015-02-03 16:48] FAAREIA commented on #41
Todo listo Lea

[2015-02-03 19:08] LeandroBraier commented on #41
Muy bien Fede!

Lo único que te pido es, en la de WebChat, que el logito verde de abajo no
se superponga con la frase "Desarrollado y producido por Benteveo"

Agregale una línea debajo. Lo demás perfecto.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Tue, Feb 3, 2015 at 1:48 PM, Federico Arena notifications@github.com
wrote:

[2015-02-03 20:23] FAAREIA commented on #41
Hola Lea, con el logito verde te referis al auricular?

[2015-02-03 20:24] LeandroBraier commented on #41
Exacto.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Tue, Feb 3, 2015 at 5:23 PM, Federico Arena notifications@github.com
wrote:

[2015-02-03 21:01] #42 closed, assigned to FAAREIA

[2015-02-03 21:02] #41 closed, assigned to FAAREIA

[2015-02-03 21:02] #40 closed, assigned to FAAREIA

[2015-02-03 21:03] LeandroBraier opened #50 "Landing Social Monitor"
Fede, en carpeta Benteveo Maquetador/ Landing Social Monitor te dejo el PDF editable de la presentación de credenciales de Benteveo.

En la página 9 explicamos en dos líneas un producto que se llama Social Monitor. Ahí mismo tenés el logo y un mock up de un mobile. Lo que necesito es que hagas una landing similar a la de WebCHat pero con este contenido. no te mando diseño ya armado porque así ya l

[2015-02-04 11:21] FAAREIA commented on #41
Hecho

[2015-02-04 11:28] LeandroBraier commented on #41
Gracias Fede!

[2015-02-04 13:37] FAAREIA commented on #50
Hola Lea, ahi va el diseño. Decime que te parece! Abrazo
![home](https://cloud.githubusercontent.com/assets/6184969/6041287/bae25f12-ac59-11e4-8749-42e596d7836a.png)

[2015-02-04 15:48] LeandroBraier opened #51 "Cambiar Nombre de usuario cuentas@benteveo.tv"
En el CMS, cuando enviamos los mails desde cuentas, el nombre que aparece como nombre de la cuenta es "Benteveo producciones". Necesitamos cambiarlo por "Caroline Mayer - Benteveo Agency". Me avisás cuando lo tengas hecho?

[2015-02-04 15:52] mkreyness commented on #51
[code]

[2015-02-04 15:54] LeandroBraier commented on #51
Gracias Marce!!! Que velocidad! Estas en Miramar? Que disfrutes.

[2015-02-04 15:54] #51 closed, assigned to mkreyness

[2015-02-04 16:25] LeandroBraier opened #52 "Cambios en Landing Benteveo"
Fede, necesitamos implementar cambios en las landings de Benteveo. Una vez que estén hechas le avisamos a MK para que lo implemente en el CMS.

Los cambios son:

. Cambiar el video de inicio de la landing por el segundo, el de marketing de contenidos, incluido el título del video "Así mejoramos el posicionamiento de tu marca". No hace falta que tenga los botones al final del video.

. Poner el log

[2015-02-04 17:27] FAAREIA commented on #52
Hola Lea, preguntas:
- Los botones que al clickearlos mandan un email a ustedes.......no van más al finalizar el video? seguro? Si sacamos eso, también sacamos la placa final o queda?
- El logo ahora va a la derecha de donde? de la pantalla en general?
- Este segundo botón va al lado del botón "Quiero saber más"?

[2015-02-04 17:45] LeandroBraier commented on #52
1. Ok, dejemos la placa final entonces, con los dos botones igual que al pie de la landing.
2. El logo va a la derecha de la pantalla, al pie del video.
3. Sip, y con la misma estética.

[2015-02-05 13:24] FAAREIA commented on #52
Hola Lea, ya estan los cambios y la versión responsiva.
Fijate si esta todo OK

[2015-02-05 13:28] LeandroBraier commented on #52
Falta. Lo chequeé en este link: http://mr.benteveo.tv/la-cardeuse/
1. El botón sigue diciendo "Para saber más", está chiquito y sin el otro al
   lado que te pedí que diga "Quiero que me contacten".
2. Arriba del video principal debe decir "Así mejoramos el posicionamiento
   de tu marca". El mismo video más abajo debe desaparecer, no queremos dos
   veces el mismo video en la landing.

abrazo

Le

[2015-02-05 14:34] FAAREIA commented on #52
No esta bien, ahora le digo a MK que actualicé el template. Me había olvidado de eso. Te aviso

[2015-02-05 14:34] LeandroBraier commented on #52
Dale, no problem.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Feb 5, 2015 at 11:34 AM, Federico Arena notifications@github.com
wrote:

[2015-02-05 18:13] LeandroBraier opened #53 "No puedo ver fotos de casting subidas en el servidor"
Fede, te fijás qué pasó?

Necesitamos poder acceder a estas fotos:

http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/

Todas me dan error.

[2015-02-05 18:26] mkreyness commented on #53
Hay pocas que son realmente jpg, muchas no dicen que son, y otros son
curriculums en .doc.
Me fije en una de las que no tenia extension e internamente dicen algo
asi como JFIF tomados de Picasa.
Capaz la gente pego cosas directamente de Picasa y tienen un formato raro.

On 05/02/2015 03:13 p.m., LeandroBraier wrote:

[2015-02-05 18:37] mkreyness commented on #53
Encontre otras que dicen que son documentos de photoshop, pero ni idea
que extension deberian tener para poder abrirse bien (no tengo
Photoshop). No se por que la gente no se limito a subir jpg,
supuestamente eran los tipos que el formulario permitia, pero capaz
usando browsers no-HTML5 compliant pudieron subir cualquier cosa.

On 05/02/2015 03:26 p.m., Marcelo Kreyness wrote:

[2015-02-05 19:00] mkreyness commented on #53
Wait, por que estas accediendo por ese link
"http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/" ? En
esa carpeta veo montones de archivos temporarios (fecha+php+algo al
azar) que todos son basura, son intentos de suba de archivos pero que no
terminaron bien (seguramente en muchos casos se cortaron por tamaño).

Las fotos deberian verlas usando los links especificos que te llegaron
e

[2015-02-05 19:42] LeandroBraier commented on #53
Si, eso intenté primero pero tampoco me los muestra. Esos links me dan
todos error 404, pero antes funcionaban.

Pensé que habían movido de servidor eso o algo así. Me suena haberlos
escuchado hablar de eso.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-05 16:00 GMT-03:00 mkreyness notifications@github.com:

[2015-02-05 19:45] mkreyness commented on #53
Claro que se movio el servidor.
Pasame el mail asi veo los links.

On 05/02/2015 04:42 p.m., LeandroBraier wrote:

[2015-02-05 19:48] LeandroBraier commented on #53
Te adjunto varios y te los mando a tu mail.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-05 16:45 GMT-03:00 mkreyness notifications@github.com:

X-Spam-Checker-Version: SpamAssassin 3.3.2 (2011-06-06) on
    hosting-1.internetya.com
X-Spam-Level:
X-Spam-Status: No, score=-0.8 required=5.0 tests=BAYES_00,HTML_MESSAG

[2015-02-05 19:56] mkreyness commented on #53
Lo unico que se me ocurre es que esos archivos no fueron pasados al
mover el server, ya que no estan.

On 05/02/2015 04:48 p.m., LeandroBraier wrote:

[2015-02-05 20:07] FAAREIA commented on #53
Si, la verdad es que no recuerdo si los había pasado o no. Lo que podemos hacer es sacar toda esa data del servidor viejo. Si fede no borró nada, tiene que estar ahi todavia.

[2015-02-05 20:09] mkreyness commented on #53
Aclaro un poco mas: como los archivos tienen fecha, es claro que hay un
agujero entre el 20-nov y el 29-dic.
Todas las fotos subidas entre esas dos fechas no estan en el servidor
actual, probablemente se bajo, alrededor del 29-dic, un backup hecho al
20-nov del server anterior.
Hay que ver si se puede todavia acceder al server viejo para rescatarlas
o Fede tiene un backup mas nuevo.

On 05/02/2015

[2015-02-05 20:10] FAAREIA commented on #53
ahi le pregunté a Fede para acceder al servidor antiguo

[2015-02-05 20:24] LeandroBraier commented on #53
Genial. Gracias Marce! Avisenme porfa.
El feb 5, 2015 5:10 p.m., "Federico Arena" notifications@github.com
escribió:

[2015-02-06 13:49] FAAREIA commented on #52
Ya esta listo eso Lea.
Cualquier cosa decime

[2015-02-06 14:01] LeandroBraier commented on #52
Nop. No están.

Mirá el link:

http://mr.benteveo.tv/la-cardeuse/

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Fri, Feb 6, 2015 at 10:49 AM, Federico Arena notifications@github.com
wrote:

[2015-02-06 14:58] LeandroBraier commented on #53
Che, al final aparecieron las fotos? Como sea fijense cómo las podemos
recuperar porfa.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Feb 5, 2015 at 5:24 PM, Leandro Braier leandrobraier@gmail.com
wrote:

[2015-02-06 19:17] mkreyness commented on #53
Yo no se como acceder al server viejo, ya que el dominio no apunta mas ahi.
Fede vos sabes ?

On 06/02/2015 11:58 a.m., LeandroBraier wrote:

[2015-02-07 00:09] FAAREIA commented on #53
Ya le mandé un mail a Fede G.
Mañana le envío otro por la mañana. Me dijo que debería estar todo como antes, pero no me pasó los accesos aún.

[2015-02-07 05:07] LeandroBraier commented on #53
Genial. Gracias Fede!

Respecto de la web del Papa tendremos algo para ver mañana?

Federico Arena notifications@github.com escribió:

[2015-02-09 11:30] FAAREIA commented on #52
Le tenes que dar F5

[2015-02-09 11:32] LeandroBraier commented on #52
Si, ahi lo vi. Está bien pero siguen faltando algunas cosas:
1. Los botones "Quiero saber más" y "Quiero que me contacten" siguen
   chicos. 2. Arriba del video debe decir "Así mejoramos el posicionamiento de
   tu marca".

Otro tema: Necesitaría recambiar el thumbnail que aparece en el mail que
generamos con el CMS. Eso se lo pido a Marce, no?

Leandro Braier
Producción Audiovisual & Social Media

[2015-02-09 11:38] FAAREIA commented on #52
Ahi agrando los botones. El título está, fijate que dependiendo del alto del navegador, como prioriza el video, a veces se oculta el título. Ésto sería para monitores viejos, si pones el navegador en full screen no pasa

[2015-02-09 11:46] LeandroBraier opened #54 "Cambiar Thumbnail de Mails CMS Benteveo"
Marce, en el mail que se genera automáticamente hay una imagen de Thumbnail que parece pertenecer a un video y va al pie del mail junto con una firma.

Lo que necesito es cambiar esa imagen de thumbnail por la que te adjunto acá. Me avisás cuando la tengas cambiada?

abrazo

![captura de pantalla 2015-02-09 a la s 08 34 38](https://cloud.githubusercontent.com/assets/6719872/6105490/6b6ce908-b036-1

[2015-02-09 11:47] LeandroBraier commented on #52
Tenés razón, pero cuando oculta ese título igual le sobra espacio entre el
video y los botones. ¿No se puede aprovechar mejor el espacio para que ese
título se vea siempre?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 8:38 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-09 11:52] FAAREIA commented on #52
Pruebo como queda entremedio, pero igual va haber momentos en que no va a entrar el título.

[2015-02-09 11:56] mkreyness commented on #54
[code]

[2015-02-09 12:00] LeandroBraier commented on #54
Perfecto. Ya le paso. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 8:56 GMT-03:00 mkreyness notifications@github.com:

[2015-02-09 12:02] LeandroBraier commented on #52
Perfecto. Me dijo Marce que el thumbnail lo cambiás vos.

Acá te la adjunto. Me avisás cuando está eso también?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 8:52 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-09 12:07] FAAREIA commented on #52
Si dale, pasame el thumb por mail

[2015-02-09 12:21] FAAREIA commented on #52
Fijate ahora Lea, dale F5.

[2015-02-09 13:11] LeandroBraier commented on #52
Está perfecto. Una cosita más:

¿habrá posibilidad de que el botón de "Quiero que me contacten" tenga un=1
en su link?

Es para diferenciarlo del botón de contacto de abajo de todo.

También me serviría que quede registrado si tocaron el botón "Quiero saber
más" pero si no se puede no hay problema.

Respecto del Thumbnail, lo recibiste? ya está cambiado?

Leandro Braier
Producción Audiovisual & So

[2015-02-09 13:12] FAAREIA commented on #52
Ahi me fijo eso, habría que avisarle a Marce si hacemos ese agregado.
Recien me llegó el mail, ahi lo cambio

[2015-02-09 13:16] LeandroBraier commented on #52
Gracias. Cuando esté si querés le aviso a Marce, como quieras.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Feb 9, 2015 at 10:12 AM, Federico Arena notifications@github.com
wrote:

[2015-02-09 13:26] FAAREIA commented on #52
Ahi ya subí la nueva imagen del video.
Ya esta agregado el parametreo nuevo al botón "Quiero que me contacten". El parametro adicional es: "df=1"
Éste cambio lo vas a ver desde Google Analytics ya que te registra las url. El tema es decirle o preguntarle a Marce como podemos hacer para que a vos te quede registrado que clickean "Quiero saber más" que no es un link, sino un boton que baja el scroll

[2015-02-09 13:29] LeandroBraier commented on #52
Si es complicado no, no hace falta. Me basta con la permanencia en el
sitio. Gracias Fede! Ya le aviso a MK!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 10:26 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-09 13:30] mkreyness commented on #52
[code]

[2015-02-09 13:30] LeandroBraier commented on #54
Marce, Fede ya lo subió. Lo actualizarías en el CMS?

abrazo

[2015-02-09 13:31] FAAREIA commented on #52
el boton es un div, que simplemente scrolea hacia abajo gracias a un jquery. Nada más.

[2015-02-09 13:31] FAAREIA commented on #52
Pregunta adicional: ¿cada 1h se actualizaba el template no marce?

[2015-02-09 13:35] mkreyness commented on #52
[code]

[2015-02-09 13:38] mkreyness commented on #54
[code]

[2015-02-09 13:39] mkreyness commented on #52
[code]

[2015-02-09 13:42] FAAREIA commented on #52
Correlo si podes, le agregué un parametro a un botón.
Claro entiendo lo que decis, y si hacemos que se abra una ventana sin nada o que se cierre, va a quedar mal y sospechoso. =/

[2015-02-09 13:54] LeandroBraier commented on #54
Perfecto, Marce! Gracias!

[2015-02-09 13:54] #54 closed, assigned to mkreyness

[2015-02-09 13:57] LeandroBraier commented on #53
Fede, porfa apenas tengas novedades de esto avisame.

abrazo

[2015-02-09 13:58] LeandroBraier commented on #52
Chicos, no entiendo lo que dicen, pero necesito confirmación de que todas las landings están actualizadas. En caso de que algunas no lo estén, porfa avisenme cuales.

abrazo

[2015-02-09 13:59] FAAREIA commented on #53
Ya le envié otro email hoy a la mañana, te aviso cuando ya tenga el backup bajado.

[2015-02-09 14:44] mkreyness commented on #52
[code]

[2015-02-09 14:47] LeandroBraier commented on #52
Perfecto así, Marce. Me parece genial. Recién tiré un mail de prueba por
las dudas.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 11:44 GMT-03:00 mkreyness notifications@github.com:

[2015-02-09 14:48] mkreyness commented on #53
[code]

[2015-02-09 15:06] #52 closed, assigned to mkreyness

[2015-02-09 18:01] FAAREIA commented on #53
Ahi me contestó fede hace un rato.
Ya estan subidos los archivos de StoryDoing TV, que si ya no sirven más avisen porque pesa 320MB
Ya estan subidos los archivos de Casting exclusivo hotel.

[2015-02-09 18:05] LeandroBraier commented on #53
Genial, gracias!

Ambos sirven aun.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 15:01 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-09 19:40] LeandroBraier commented on #53
Ok, están subidos, pero adonde?

Los links que yo tenía me siguen sin servir. Necesito poder acceder desde
esos links por favor, sino no se de quien es la foto que estoy viendo, por
ejemplo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 15:01 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-09 20:00] FAAREIA commented on #53
http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/
http://www.benteveo.tv/casting/archivos-subidos/

Las URL deberían de funcionar bien, las rutas son las mismas.

[2015-02-09 20:05] LeandroBraier commented on #53
A eso voy. Esto no me sirve. Es un caos. Necesito poder hacer clic en el
mail que llegó de tal persona y ver las fotos que figuran ahí. Sino no
puedo vincular la foto con la persona. Fijate la forma de que las URLs
vuelvan a funcionar porfa.

Te copio una de las URLs fallidas y te adjunto uno de los mails.

http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/20141120122542phpGoypEx?nor

[2015-02-09 20:09] FAAREIA commented on #53
Marce, las URL son asi como en código o tienen que terminar con una extensión??

[2015-02-09 20:12] mkreyness commented on #53
A mi me parece que todos esos links que vienen con "php" en el nombre
son temporarios con basura, los que realmente funcionan son los que
tienen solo fecha y hora, por ejemplo este:

http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/20141229114604

Para mi esos con php en el nombre no pueden haberte funcionado nunca.

On 09/02/2015 05:05 p.m., LeandroBraier wrote:

[2015-02-09 20:13] mkreyness commented on #53
Depende del browser que haya usado cada uno, si mando la informacion del
nombre o no.
En general lo que yo veo es que los documentos que NO son imagenes
tienen bien sus extensiones, y los que son imagenes a veces tienen y a
veces no.

Por ejemplo este funciona perfecto:

http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/20141229114604

y no tiene ninguna extension, porque lo reconoce

[2015-02-09 20:15] FAAREIA commented on #53
Ok, ahora estoy bajando para luego subir esos archivos que pensé que eran temporales

[2015-02-09 20:24] mkreyness commented on #53
Lo son, teoricamente al terminar de uploadearse deberian haberse
renombrado con el nombre que puso el usuario, como muchos otros que si.
Capaz pusieron nombres no validos (o lo subieron de celular y no venian
con nombre o algo asi) y pueden haber quedado con ese nombre como
definitivo.

On 09/02/2015 05:15 p.m., Federico Arena wrote:

[2015-02-09 20:44] FAAREIA commented on #53
Ahi estan subidos todos los archivos. Fijte ahora lea

abrazo

[2015-02-09 20:51] LeandroBraier commented on #53
Me siguen pasando cosas raras. FIjate vos.

La verdad, no sé qué es.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Feb 9, 2015 at 5:44 PM, Federico Arena notifications@github.com
wrote:

X-Spam-Checker-Version: SpamAssassin 3.3.2 (2011-06-06) on
    hosting-1.internetya.com
X-Spam-Level:
X-Spam-Status: No, score=-0.8 requir

[2015-02-09 20:54] mkreyness commented on #53
Los que dicen php son 99% cosas incompletas imposibles de ver. Fue un
timeout o un rechazo del servidor, nadie asegura que sean imagenes.
Si alguno anda es pura casualidad.
Los que andan bien SEGURO no dicen 'php' en el URL.

On 09/02/2015 05:51 p.m., LeandroBraier wrote:

[2015-02-09 21:19] LeandroBraier commented on #53
Ok, entonces no me sirve ninguno. Qué hacemos?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Feb 9, 2015 at 5:54 PM, mkreyness notifications@github.com wrote:

[2015-02-09 21:23] mkreyness commented on #53
Pero yo veo montones de fotos que estan bien en el directorio.
Todos los mails que tenes tienen los links asi ?

On 09/02/2015 06:19 p.m., LeandroBraier wrote:

[2015-02-09 21:35] LeandroBraier commented on #53
La gran parte, por eso digo. Y los que me abre me los abre mal, miren la
captura.

pero antes se veían bien! Antes de migrar el servidor.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Feb 9, 2015 at 6:23 PM, mkreyness notifications@github.com wrote:

[2015-02-09 21:40] mkreyness commented on #53
Si pero no es un problema de como te lo abre, eso es realmente lo que
contiene, un jpeg corrompido porque no termino de subir, seguramente son
fotos muy grandes que timeouteó el upload.
En general vi que en el mismo mail hay asociado un curriculum, en
algunos de esos vi que tambien pegan fotos dentro.

On 09/02/2015 06:35 p.m., LeandroBraier wrote:

[2015-02-09 21:49] LeandroBraier commented on #53
Si, entiendo la compensación pero las fotos eran importantes, porque lo que
buscamos son modelos para una sesión de fotos.

Una cagada, por lo menos analicemos este caso y aprendamos para la próxima
que no vuelva a ocurrir lo mismo.

Gracias

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 18:40 GMT-03:00 mkreyness

[2015-02-09 22:08] mkreyness commented on #53
no las fuiste mirando mientras llegaban los mails ?
Los que yo fui probando subian bien, pero obviamente siempre use el
mismo browser y fotos no muy grandes.

On 09/02/2015 06:49 p.m., LeandroBraier wrote:

[2015-02-09 22:26] LeandroBraier commented on #53
Claro, es que los vi hace un tiempo (pero antes de la migración del servidor) y funcionaban bien. Y ahora resulta que nos los podemos hacer andar.

A mi me parece que tiene que haber alguna forma, pero es muy técnico para mi.

[2015-02-09 22:33] mkreyness commented on #53
El unico cambio fue haberlas pasado de un equipo a otro, Fede hay forma
de acceder via IP o algun dominio el servidor viejo ?
Para probar si toqueteando los links para que lo levante de alla sirve.

On 09/02/2015 07:26 p.m., LeandroBraier wrote:

[2015-02-09 22:39] FAAREIA commented on #53
Para mi el tema es que los archivos rotos son temporales incompletos. Los archivos son los que estan y me parecería muy raro y sorpresivo que anden en un servidor y en otro no. Es como que un archivo te ande en un OSX 10 pero en el OSX 11 no. Raro.

Mi pregunta principal es: Lea, ¿vos estas 100% seguro que el mismo link antes andaba (mostraba foto) y ahora no (no muestra foto o esta incompleta)?

[2015-02-09 22:45] FAAREIA commented on #53
Lea desconozco que links probaste pero aca localmente, a los "archivos temporales" les estoy agregando la extension ".jpg" y me muestra las imágenes completas. Probé en 5 y los vi bien.

[2015-02-09 23:00] LeandroBraier commented on #53
Entonces programá para que cuando abra el link le agregue el .jpg

Si le tengo que agregar el jpg a cada una me vuelvo mono. Dale, hagamos que
funcione bien y listo. Ya habré 10 mails y no me anduvo 1 sola de las fotos.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-09 19:45 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-09 23:20] FAAREIA commented on #53
El tema es que los emails ya estan mandados. Marce ¿vos podes hacer algo asi de lo que pide lea? Es posible?

[2015-02-09 23:21] FAAREIA commented on #53
Lea, pero si vos le agregas el ".jpg", te andan esos links que ves rotos?

[2015-02-09 23:23] LeandroBraier commented on #53
No, no me andan. Probá con los mails que yo te mandé, fijate con esos.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Feb 9, 2015 at 8:21 PM, Federico Arena notifications@github.com
wrote:

[2015-02-09 23:48] FAAREIA commented on #53
Bueno, creo que detecté el problema.
El tema es asi:

http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/20141215014326phphKfZNB
No se ve online, pero localmente lo veo al agregarle la extensión ".jpg"

Mi deducciones:
- El parametro "?noredir=1" puede estar trabando la renderización.
- Hay alguna config en el server actual que, como corresponde, no-adivina / no-muestra, archivos de l

[2015-02-10 00:41] mkreyness commented on #53
[code]

[2015-02-10 03:27] mkreyness commented on #53
[code]

[2015-02-10 11:22] FAAREIA commented on #53
Ahi estoy volviendo a subir los archivos. Localmente ya les puse la extensión. Lo que me parecia raro es que a cada archivo le faltaba unos 100 bytes, aun si me lo bajaba.
En un rato ya debería de estar. Habría que corregir eso de que al subir la foto queda sin extensión el archivo y parece un temporal. En 30m ya esta todo subido

[2015-02-10 11:33] mkreyness commented on #53
[code]

[2015-02-10 11:39] LeandroBraier commented on #53
Marce, ese link que me pasaste más temprano lo veo bárbaro. Es una especie
de Griselda Siciliani haciendo gimnasia en la playa.

http://www.benteveo.tv/casting-exclusivo-hotel/archivos-subidos/20141215014326phphKfZNB

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-10 8:33 GMT-03:00 mkreyness notifications@github.com:

[2015-02-10 11:46] FAAREIA commented on #53
Se puede ver porque resubí el archivo. Antes no se podía ver, no se porqué. Capas que en la subida se corrompieron algunos archivos ayer.
Ya estan todos esos archivos resubidos, deberían verse bien todos como yo los veo localmente

[2015-02-10 11:58] LeandroBraier commented on #53
Excelente Fede y Marce! Ahora funcionan todos!

Vieron que se podía? jaja Muchas gracias por el esfuerzo. Si pueden pasenme
una explicación técnica de lo que pasó así la archivamos para la próxima
vez y no tenemos que hacer toda la investigación de nuevo.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-10 8:46 GMT-03:

[2015-02-10 11:59] mkreyness commented on #53
[code]

[2015-02-10 12:04] mkreyness commented on #53
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/53#issuecomment-73686790

      —
        Reply to this email directly or view
          it on GitHub.

[2015-02-10 12:07] FAAREIA commented on #53
Debió ser eso que al subirlo sin extensión, lo subió diferente a una foto. La prox. sale el metodo de zip, aunque sean pocos archivos ^^

[2015-02-10 12:12] LeandroBraier commented on #53
Perfecto, equipo. Gracias por todo!

Ya archivé esta explicación para más adelante por las dudas.

abrazo

[2015-02-10 12:12] #53 closed, assigned to FAAREIA

[2015-02-12 18:12] LeandroBraier opened #55 "Agregado Simple de Link en HTML de Mails a Marcas"
Fede, necesitaría agregar al html de los mails a marcas (el que tiene el thumbnail con el link y la firma) un link.

Arriba del thumbnail, debería ir simplemente el link común de la marca.

Por ejemplo: http://benteveo.tv/la-cardeuse/

Y en el hipervínculo real de ese texto iría con el mismo agregado que el link del Thumbnail:

Por ejemplo: http://benteveo.tv/la-cardeuse/?mail=1

Para mañana está

[2015-02-13 11:47] FAAREIA commented on #55
Ahi esta listo Lea, pruebenlo y cualquier cosa decime.

Abrazo

[2015-02-13 12:02] LeandroBraier commented on #55
Gracias Fede!!!

Ahora lo pruebo.

abrazo

[2015-02-13 12:02] #55 closed, assigned to FAAREIA

[2015-02-18 17:50] LeandroBraier commented on #50
Te había pasado este feedback, no sé si lo recibiste:

"Está barbara. Agregale nodos a las redes para que parezcan menos telarañas y subila nomas, con link en el icono de Social Monitor en Benteveo."

Avisame nomás cuando esté subida.

abrazo

[2015-02-18 19:45] LeandroBraier opened #56 "Nuevos Mails de Benteveo para dos nuevas integrantes del equipo"
Fede, necesito dos nuevas cuentas de mail de Benteveo.

florencia@benteveo.tv

gabriela@benteveo.tv

La password ponele la misma de depositphotos. Si no la recordás avisame. No la subo acá porque GitHub es público.

abrazo

[2015-02-18 22:15] LeandroBraier opened #57 "Base de mails de suscriptos a la landing "Ser parte""
Marce, tenés posibilidad de armar esta base de datos y mañana enviarles a todos un mail?

[2015-02-18 22:22] mkreyness commented on #57
Si me pasas la base de datos y el texto del mail, si.
Si el mail es un HTML, que Fede lo arme y me pase donde lo dejó.
Lo que seguro que NO puedo es mandarlo desde el servidor de
FranciscoLaPelicula, lo tendria que mandar del de Benteveo.

On 18/02/2015 07:15 p.m., LeandroBraier wrote:

[2015-02-19 13:10] LeandroBraier commented on #56
Ya lo hice.

abrazo

[2015-02-19 13:10] #56 closed, assigned to nobody

[2015-02-19 14:19] LeandroBraier opened #58 "Mails de Benteveo no reciben mails"
Marce, acabo de crear dos cuentas de mail desde el CPanel de Benteveo.tv y no funcionan. Se puede acceder a las cuentas, pero los mails no les llegan.

Te paso el acceso al cpanel:

Usuario: benteveo
Contraseña: 9lKf10uP8r

http://www.benteveo.tv/cpanel

En caso de que haya que hablar con Duplika, porfa decime qué le pregunto.

[2015-02-19 18:56] mkreyness commented on #58
Las agregaste donde no habia NINGUNA, es un poco sospechoso que no
hubiera otras, no ?

Nunca te van a funcionar, hasta donde yo se, el mail de benteveo NO se
migro al server de benteveo, se debe seguir manejando como antes.

On 19/02/2015 11:19 a.m., LeandroBraier wrote:

[2015-02-19 19:10] LeandroBraier commented on #58
Ah, ok. Me entero ahora.

Tenía entendido que sí se había migrado, porque Fede me pidió backupear
todos los mails, me pidió las contraseñas de todos los mails y los volvió a
cargar.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-19 15:56 GMT-03:00 mkreyness notifications@github.com:

[2015-02-19 19:16] mkreyness commented on #58
tal vez se migró, pero no al actual servidor benteveo.tv, ya que ahi
solo estan esas casillas que vos pusiste, pero ninguna otra.

On 19/02/2015 04:10 p.m., LeandroBraier wrote:

[2015-02-19 19:17] LeandroBraier commented on #58
Ok, consulto con Fede.

Fede, vos me podés crear tres cuentas nuevas de Benteveo?

serían:

nahuel@benteveo.tv

gabriela@benteveo.tv

florencia@benteveo.tv

En password ponele:

guatemala2015

[2015-02-20 00:20] LeandroBraier opened #59 "42 nuevas landings Benteveo"
Marce, acá están las 42 nuevas que necesito

https://docs.google.com/spreadsheets/d/1IuPsadi5HSheDHeZb57nFLTNDVE4OQEqOuU7JjBFxAA/edit#gid=1858910323

abrazo

[2015-02-20 00:25] LeandroBraier opened #60 "Corrección Links Mails de Campaña Cadena de Mails"
No te olvides de sumarles el mr en los links del html del mail.

abrazo

[2015-02-20 00:29] LeandroBraier opened #61 "Botón "Pedir un Demo" en Landing Siguit"
Fede, necesito sumar el botón "Pedir un Demo" a la landing de Siguit. El botón funcionaría de forma similar a los botones de contacto de las landings de Benteveo. Al clickear, un pop up le pediría el nombre, empresa y dirección de mail al usuario con el mensaje "Por favor déjanos tu dirección de mail y nos pondremos en contacto para generar un demos."

A nosotros nos llegaría a cuentas@benteveo.tv

[2015-02-20 11:46] FAAREIA commented on #60
Ahi ya lo actualicé Lea. Habría que preguntarle a Marce K si el template se regenera solo o manual.

[2015-02-20 11:51] mkreyness commented on #60
[code]

[2015-02-20 11:55] FAAREIA commented on #60
joya entonces

[2015-02-20 12:39] LeandroBraier commented on #60
Excelente Fede y Marce! Gracias!

[2015-02-20 12:39] #60 closed, assigned to mkreyness

[2015-02-20 12:39] #59 closed, assigned to mkreyness

[2015-02-20 12:41] LeandroBraier commented on #58
Fede, Marce S dice que intentó entrar al CPanel de siempre y no puede crear las nuevas cuentas de mail. Lo hablarías con Fede Guillerón o quien corresponda?

[2015-02-20 13:36] FAAREIA commented on #50
http://www.benteveo.tv/_social-monitor/
Ya puse el link en el sitio de benteveo también

[2015-02-20 13:36] FAAREIA commented on #58
Ahi le digo, adjunto a todos en el mensaje.

Abrazo

[2015-02-20 13:44] LeandroBraier commented on #50
Todo perfecto! Gracias!

[2015-02-20 13:44] #50 closed, assigned to FAAREIA

[2015-02-23 12:59] FAAREIA commented on #61
Ahi va Lea:
http://siguit.com/

Probalo a ver si llega bien y cualquier cosa decime

Abrazo

[2015-02-23 13:17] LeandroBraier commented on #61
Gracias, Fede. Estéticamente quedó bueno. El tema es lo funcional.

1) El mail no me llega a cuentas@benteveo.tv

2) El mensaje que me aparece cuando ingreso los datos es "Por favor complete todos los campos" en rojo, lugar de un texto de fondo verde que diga "Gracias por dejarnos tus datos. Nos pondremos en contacto para responder a tu pedido." Entiendo que esto significa que dio un error el form

[2015-02-23 13:51] LeandroBraier commented on #58
Resuelto Fede! Gracias!

[2015-02-23 13:51] #58 closed, assigned to FAAREIA

[2015-02-23 13:57] FAAREIA commented on #61
Ahi lo arreglé Lea, estaba mal algo en el código que manda el email.

Abrazo

[2015-02-23 14:00] LeandroBraier commented on #61
Ahorá el mensaje sale verde bien, pero el mail no me llega. Puede ser?

[2015-02-23 14:28] FAAREIA commented on #61
Fijate en spam, sino avisame.

[2015-02-23 14:31] LeandroBraier commented on #61
Confirmo. Sigue sin llegar el mail, ni en Basura ni en Inbox.

Si querés te doy el acceso para que hagas las pruebas o probá con un mail
tuyo, como prefieras.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Feb 23, 2015 at 11:28 AM, Federico Arena notifications@github.com
wrote:

[2015-02-23 14:34] FAAREIA commented on #61
Esa casilla de email esta llena por casualidad?

[2015-02-23 14:43] LeandroBraier commented on #61
No, está al 40% de su capacidad nomás.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-23 11:34 GMT-03:00 Federico Arena notifications@github.com:

[2015-02-23 15:01] FAAREIA commented on #61
Si, estoy probando y tampoco me llega. Voy a ver bien que puede ser.

[2015-02-23 16:42] FAAREIA commented on #61
Ahi lo estuve viendo y no puedo ver que es lo que esta fallando, esta todo bien.
Pongo a Marce K en el issue a ver si sabe que puede ser.

[2015-02-23 16:43] FAAREIA commented on #61
Aca esta la URL: http://siguit.com/index2.html

[2015-02-23 20:44] mkreyness commented on #61
Voy a cambiar el destinatario por mi a ver que pasa.

On 23/02/2015 01:43 p.m., Federico Arena wrote:

[2015-02-23 20:52] mkreyness commented on #61
No salen los mails de ese servidor, quedan en un estado "queued".
No importa quien lo mande o a donde se manden.

Recuerden que es un servidor de garron prestado por Alternativa.
Habria que consultar con Luciano Cesare.

On 23/02/2015 05:44 p.m., Marcelo Kreyness wrote:

[2015-02-23 20:54] LeandroBraier commented on #61
No se pueden mandar desde el servidor que usamos en la web?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-23 17:52 GMT-03:00 mkreyness notifications@github.com:

[2015-02-23 20:59] mkreyness commented on #61
Es que no se pueden mandar de un lugar donde no estan.
Para eso habria que haber hecho la pagina en el server de Benteveo, no
en el de Siguit.

Yo justamente cuando hice apuntar el dominio siguit.com a este servidor
(que es de prueba, de garron, para desarrollo, de uso interno, etc.
etc.) justamente a proposito NO hice apuntar www.siguit.com. Eso podria
estar apuntando al mismo servidor de benteve

[2015-02-23 21:05] LeandroBraier commented on #61
No, no tiene multidominio. Por eso no está apuntando ahí. Vamos a tener que
hablar con las personas que decís Marce y que nos solucionen ese tema para
el servidor de Siguit.com.

Vos lo hablás Fede?

No hay tanto apuro, si lo resolvemos esta semana está bien.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-02-23 17:59 GM

[2015-02-23 21:10] mkreyness commented on #61
No core que Fede conozca a Cesare. Yo tampoco lo conozco personalmente,
pero intercambié algunos mails y entiendo que a veces anda por la
oficina de ustedes.
Lo otro que se me ocurre es que podrias Fede poner en el form que el
action llame a http://www.benteveo.tv/<lo que sea> y pasar el script
ahi, tendria que andar igual.

On 23/02/2015 06:05 p.m., LeandroBraier wrote:

[2015-02-23 21:10] mkreyness commented on #61
Donde dice "No core" lease "No creo"

On 23/02/2015 06:09 p.m., Marcelo Kreyness wrote:

[2015-02-24 11:50] FAAREIA commented on #61
Ahi ya lo probé con los archivos del mail en el hosting de Benteveo y funciona. Me había olvidado por completo que era otro server de esos raros.

Abrazo

[2015-02-24 12:28] LeandroBraier opened #62 "Posible Maquetador"
Fede, fijate qué te parece el curriculum de este pibe.

http://grafitodd.com.ar/BraulioEvangelisti/

Lo estoy entrevistando ahora por Skype. Decime si querés que le consulte algo en particular.

abrazo

[2015-02-24 12:32] LeandroBraier commented on #61
Excelente, ya funciona. Gracias!

[2015-02-24 12:32] #61 closed, assigned to mkreyness

[2015-02-24 14:02] LeandroBraier commented on #62
Fede, recién hablé con Braulio y me parece que es el perfil justo. Todos los lenguajes que me dijiste los conoce y los trabaja y es un diseñador que terminó trabajando en maquetación porque es lo que más laburo le dio. Le gusta, pero le gusta también el diseño.

Ahora les mando un mail a los dos para que se pongan en contacto y, si vos me das el ok, ya avanzamos en la negociación para contratarlo.

[2015-02-24 14:08] FAAREIA commented on #62
dale buenisimo, pasame el skype asi hablo con el asi hablo un toque pero por lo que me decis es el perfil que buscamos asi que excelente.

Abrazo

[2015-02-24 14:09] LeandroBraier commented on #62
Buenísimo!

el skype es braulio.evangelisti

abrazo

[2015-02-24 15:07] FAAREIA commented on #62
Hola Lea, ya hablé con el pibe y va a ir bien. Avanzá tranqui

[2015-02-24 15:13] LeandroBraier commented on #62
Genial! Buenisima noticia.

Abrazo

Federico Arena notifications@github.com escribió:

[2015-03-02 12:42] LeandroBraier commented on #62
Fede, hoy arranca Braulio. Podés ya contactarlo para empezar a laburar y darle su propio mail de Benteveo.

es braulio@benteveo.tv y su password es: guatemala2015

Vos sabés el link de acceso al webmail.

Cualquier cosa que necesiten hacer un skype o algo me decís.

abrazo

[2015-03-02 12:42] #62 closed, assigned to FAAREIA

[2015-03-05 13:46] #57 closed, assigned to nobody

[2015-03-05 13:46] #48 closed, assigned to mkreyness

[2015-03-05 13:54] LeandroBraier opened #63 "Newsletter Simple Klaukol"
Fede, necesito tener para hoy a la tarde un newsletter HTML lindo pero muy simple para Klaukol. Es para generar cierta intriga a los empleados de la empresa para que vayan a la presentación del producto el miércoles.

El texto es el siguiente:

Asunto: Una presentación. Un lanzamiento. Y vos

Contenido del mail:

¡Te invitamos a conocer lo nuevo de Klaukol! El miércoles 11 de marzo será un día a p

[2015-03-05 14:56] FAAREIA commented on #63
Teniendo en cuenta que es algo interno, simplificaría la maquetación y haría que todo sea imagen.
Decime que te parece, Abrazo

![mailing](https://cloud.githubusercontent.com/assets/6184969/6507105/98686364-c32e-11e4-9325-e825c8d65689.png)

[2015-03-05 14:57] FAAREIA commented on #63
Ahi va con borde gris!
Abrazo

![mailing](https://cloud.githubusercontent.com/assets/6184969/6507139/d03a82f4-c32e-11e4-8e87-b2cc898c1410.png)

[2015-03-05 15:02] LeandroBraier commented on #63
Excelente Fede! Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Mar 5, 2015 at 11:57 AM, Federico Arena notifications@github.com
wrote:

[2015-03-05 15:03] FAAREIA commented on #63
Avisame y generamos el newsletter.
Abrazo

[2015-03-10 11:48] FAAREIA commented on #63
En que quedó esto lea?

[2015-03-10 12:18] LeandroBraier commented on #63
Está resuelto Fede!! Les pasé la imagen sola.

abrazo

[2015-03-10 12:18] #63 closed, assigned to FAAREIA

[2015-03-31 23:36] LeandroBraier opened #64 "Sumar logos Parex, Klaukol, Lanko y Revear a la Web"
Sin apuro, sumalos donde están los logos de todas las marcas en la sección Entretenimiento + Comunicación.

Si no los tenés avisame y te los paso.

abrazo

[2015-04-09 14:18] FAAREIA commented on #64
http://benteveo.tv/index2.html
Avisame si lo ves OK
Abrazo!

[2015-04-09 14:25] LeandroBraier commented on #64
Excelente! Si pudieran estar los 4 seguidos mejor pero así está bien también.

abrazo

[2015-04-14 14:04] LeandroBraier opened #65 "Link Google Maps en Benteveo"
Fede, necesito linkear la pagina de Benteveo con Google Maps. Para esto, entiendo que habría que actualizar el mapa que figura en la web abajo de todo.

Este link habla de eso:

http://googlegeodevelopers.blogspot.com.ar/2014/03/adding-new-google-maps-to-your-website.html

Lo que necesitamos es que aparezca en el buscador de Google Maps.

abrazo

PD: esto no es urgente. Dentro de la semana está bi

[2015-04-16 23:00] LeandroBraier opened #66 "Reenvio de mails en la cuenta ezequiel@benteveo.tv"
Marce, me dijo Eze recibe cada 4 hs 400 mails repetidos solo de la cuenta de Benteveo. Es en el Outlook. Por qué puede ser esto? Tenés idea?

[2015-04-16 23:39] mkreyness commented on #66
[code]

[2015-04-20 18:39] LeandroBraier opened #67 "WebMail Benteveo Caido"
Fede, no puedo acceder al webmail de Benteveo. Consultás eso porfa?

https://hosting-1.internetya.com/ssl/benteveo.tv/webmail/

[2015-04-29 15:37] braulio-evangelisti commented on #65
Lea, como primera medida para que pueda buscarse como lugar en google maps, hay que darle de alta a la empresa en Google Places(Ahora es Google Business).

https://www.google.com/business/

preferentemente usar una cuenta de gmail que sea del estudio, la misma que se usaria para un perfil en Google+ por ejemplo, y para registrarse en diferentes productos de Google como empresa.

[2015-05-26 20:33] LeandroBraier commented on #64
Fede, nunca corregiste ni subiste esto a la versión online. Subilo urgente porfa.

abrazo

[2015-05-28 13:41] #66 closed, assigned to mkreyness

[2015-05-28 13:41] #67 closed, assigned to FAAREIA

[2015-05-28 13:42] LeandroBraier commented on #65
Listo,ya estamos esperando verificación. Gracias!

[2015-05-28 13:42] #65 closed, assigned to FAAREIA

[2015-05-28 13:43] LeandroBraier commented on #7
Fede, aún no tengo mis pendientes jeje Ya los voy a tener mañana, pero te paso esta posibilidad de optimización para SEO que nos recomienda Google. TOmala para la semana que viene, sin apuro.

https://youtu.be/A-kX0Aut-18

abrazo

[2015-06-04 19:51] braulio-evangelisti commented on #64
Listo Lea

Fijate ahora, ya esta hecho y subido.

Abrazo

[2015-06-04 22:57] LeandroBraier commented on #64
Perfecto Braulio. Gracias.

Avancemos con los pendientes de Klaukol y Francisco.

abrazo

[2015-06-04 22:57] #64 closed, assigned to nobody

[2015-06-05 18:42] LeandroBraier opened #68 "Migración Mail Benteveo"
Marce, ya expandimos el hosting de Duplika a Benteveo.

Ahora tenemos plan Multicuenta L, de 10 gb de capacidad. Como son los siguientes pasos para pasar todos los mails a ese hosting?

El único que necesitaba backup es MS y ya lo hizo. Cómo avanzamos?

[2015-06-05 19:29] mkreyness commented on #68
Si no vas a pasar nada, supongo que habria que crear las cuentas primero
y cuando esten todas listas cambiar los MX records que ahora apuntan al
viejo server, para que apunten al actual.
Podes crear las cuentas como hiciste antes (de hecho algunas ya deben
estar creadas, no ? No se si todas) y avisame y cambio los MX records.

On 05/06/2015 03:42 p.m., LeandroBraier wrote:

[2015-06-05 19:49] LeandroBraier commented on #68
Dale. Yo lo hago. Desde el CPanel no?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-05 16:29 GMT-03:00 mkreyness notifications@github.com:

[2015-06-05 20:43] mkreyness commented on #68
Si

Enviado desde mi iPhone

[2015-06-06 01:50] LeandroBraier commented on #68
Hecho MK. Hacé el traspaso mañana nomás y avisame.

abrazo

[2015-06-06 18:13] mkreyness commented on #68
ahi cambie todo lo que estaba apuntando al servidor de Guilleron a que
apunte al propio.
Espero que las cosas funcionen...
Por si acaso te copio a GMAIL.

On 05/06/2015 10:50 p.m., LeandroBraier wrote:

[2015-06-07 14:36] LeandroBraier commented on #68
El mail parece funcionar bien MK, pero no logro encontrar la configuración para IMAP y POP3. Estos son los datos que consigo:

Me dirías cual es el servidor de pop3? El puerto parece ser 995.

abrazo

[2015-06-07 15:10] mkreyness commented on #68
[code]

[2015-06-07 18:43] LeandroBraier commented on #68
Perfecto. Gracias MK!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-07 12:10 GMT-03:00 mkreyness notifications@github.com:

[2015-06-07 21:05] mkreyness commented on #68
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/68#issuecomment-109763940

      —
        Reply to this email directly or view
          it on GitHub.

[2015-06-07 21:12] LeandroBraier commented on #68
Si, ya lo hablé con Mariana. Ya está contratado, pero me parece que aplica
a partir de una fecha, así que tiene que ver con eso. Cuando está te
confirmo.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-07 18:05 GMT-03:00 mkreyness notifications@github.com:

[2015-06-09 16:42] LeandroBraier commented on #68
MK, en outlook hay algún problema con el servidor saliente. Me dirías qué puerto corresponde al smpt.benteveo.tv?

abrazo

[2015-06-09 16:54] mkreyness commented on #68
[code]

[2015-06-09 17:14] LeandroBraier commented on #68
Porque en el outlook de Mariana estaba andando mal.

Le digo que pruebe con ese puerto a ver si cambia.

Cualquier cosa te aviso.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-09 13:54 GMT-03:00 mkreyness notifications@github.com:

[2015-06-09 17:26] mkreyness commented on #68
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/68#issuecomment-110430887

      —
        Reply to this email directly or view
          it on GitHub.

[2015-06-09 17:33] LeandroBraier commented on #68
Puede ser que todavía no se hayan terminado de migrar los DNS? Me siguen llegando mail al hosting viejo.

[2015-06-09 17:47] mkreyness commented on #68
[code]

[2015-06-09 17:53] LeandroBraier commented on #68
jajaj Justo los que tienen cacheado son internos:

vos
MS
Deby

Lo puede resetear manualmente?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-09 14:47 GMT-03:00 mkreyness notifications@github.com:

[2015-06-09 18:05] mkreyness commented on #68
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/68#issuecomment-110444535

      —
        Reply to this email directly or view
          it on GitHub.

[2015-06-10 12:24] LeandroBraier commented on #68
Marce, acá estoy viendo los datos que da el hosting y son distintos. Para qué son estos datos?

Nombre de usuario:  cuentas@benteveo.tv
Contraseña:    Utilice la contraseña de la cuenta de correo electrónico.
Servidor entrante:  django.duplika.com
IMAP Puerto: 993
POP3 Puerto: 995
Servidor de correo: django.duplika.com
SMTP Puerto: 465
Se requiere autenticación para IMAP, POP3 y SMTP.

[2015-06-10 12:41] mkreyness commented on #68
[code]

[2015-06-10 14:19] LeandroBraier commented on #68
Ah, genial. Si ya lo hablaste con Mariana entonces no te molesto más. Por
ahora es la única que tiene problemas. Yo en el reenvio a gmail y por fono
me anda perfecto.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-10 9:41 GMT-03:00 mkreyness notifications@github.com:

[2015-06-10 14:23] mkreyness commented on #68
[code]

https://github.com/LeandroBraier/BenteveoTV/issues/68#issuecomment-110734582

      —
        Reply to this email directly or view
          it on GitHub.

[2015-06-10 15:21] LeandroBraier commented on #68
Ok, cualquier cosa avisame si hay novedades.
+
abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-06-10 11:23 GMT-03:00 mkreyness notifications@github.com:

[2015-07-02 20:22] LeandroBraier opened #69 "¿Con qué tecnología podríamos hacer esto?"
http://lacriaturacreativa.com/2015/06/canal-crea-el-formulario-de-suscripcion-mas-divertido/

Sería para Benteveo.

[2015-07-02 20:33] mkreyness commented on #69
Que BUENA idea !
En nada que yo conozca, pero debe haber formas de hacerlo en flash,
supongo, y habria que programar cada formulario en forma individual.
Cualquier otra cosa en que para cada campo o pagina haya un video
independiente tendria seguramente transiciones muy poco naturales.
A su vez el flash muere a corto plazo.

On 02/07/2015 05:22 p.m., LeandroBraier wrote:

[2015-07-02 20:34] LeandroBraier commented on #69
Podría ser esta tecnología entonces?

https://interlude.fm/

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-02 17:33 GMT-03:00 mkreyness notifications@github.com:

[2015-07-02 20:41] mkreyness commented on #69
No se, no veo que permita input. Mas bien parece una forma sofisticada
de hacer menues, pero sin un input real, o viste alguna de las demos en
las que se pueda tipear ?

On 02/07/2015 05:34 p.m., LeandroBraier wrote:

[2015-07-02 20:47] LeandroBraier commented on #69
Vos decís Interlude, no?

Yo no lo vi, por eso te preguntaba si por ahi pensabas con esa misma
tecnología se podía. La verdad que un misterio.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-02 17:41 GMT-03:00 mkreyness notifications@github.com:

[2015-07-02 20:56] mkreyness commented on #69
Interlude, mire las demos y todas me parecen que son "interactivos" en
el sentido de que podes elegir que camino tomar, pero no INGRESAR info.
Hacer esto en un app o un software de PC seguro que se puede, pero el
asunto es que ande via web en cualquier plataforma, no ?.

On 02/07/2015 05:47 p.m., LeandroBraier wrote:

[2015-07-02 21:08] LeandroBraier commented on #69
Claro. Difícil. Gracias MK!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-02 17:56 GMT-03:00 mkreyness notifications@github.com:

[2015-07-03 11:49] FAAREIA commented on #69
Claro, habría que ver como se accede a ese formulario y es probable que sea un desarrollo personalizado usando video html para aplicación o para web
Esta bueno pero como dice MK, vamos a excluir a X cantidad de gente seguro.

[2015-07-03 11:55] LeandroBraier commented on #69
Claro. Pero entonces es una sucesión de páginas web html 5 con fondos de video distintos. En el spot editaron las partes de la carga.

 Vos pensa que en francia no debe haber cavernicolas con Explorer 6 y Pentium 4 como aca, que encima tienen pretensiones. Jeje

Abrazo y gracias a los dos!

Federico Arena notifications@github.com escribió:

[2015-07-03 12:21] FAAREIA commented on #69
Y es más dificil, pero más allá de eso hay una campaña detras de eso, si no podes usarlo te quedas afuera, probablemente el público objetivo tampoco sea de los que tengan un navegador viejo.
No se si será una sucesión de videos, habría que investigarlo bien y analizar todo lo que ofrece un video HTML5 en programación.

[2015-07-14 01:32] #69 closed, assigned to mkreyness

[2015-07-14 01:38] LeandroBraier opened #70 "Problema de responsive en imagen puntual de la web de Benteveo."
@FAAREIA : esto me parece que es para braulio, pero lo dejo a tu criterio nomás.

![captura de pantalla 2015-07-13 a la s 13 07 32](https://cloud.githubusercontent.com/assets/6719872/8664580/673d29cc-29af-11e5-9c3f-28c0e0a87628.png)

Como ves en la captura, el fondo rosa no queda bien como responsive para esa imagen. El fondo debería ser azul, no?

abrazo

[2015-07-14 12:50] FAAREIA commented on #70
Hecho

[2015-07-14 13:10] LeandroBraier commented on #70
Perfecto!

Gracias.

[2015-07-14 13:10] #70 closed, assigned to FAAREIA

[2015-07-16 19:01] braulio-evangelisti commented on #7
Lea cuando puedas pasame los horarios de atencion al publico de Benteveo. Dias de la semana y horarios.

Abrazo

[2015-07-16 19:04] LeandroBraier commented on #7
Lunes a Viernes de 9 a 18.
1. Benteveo Argentina
   Directions
   <https://www.google.com.ar/maps/dir/''/benteveo+agencia/data=!4m5!4m4!1m0!1m2!1m1!1s0x95bcb591b465a2ad:0x87a0d92d44b75276?sa=X&ved=0CHwQ9RcwC2oVChMIuLuMyavgxgIVRH6QCh1wuANp>
2. Marketing Agency
   3.
   4.
3. Address: Guatemala 5582, C1425BVH CABA
   Phone:011 5254-7363
   Hours:

   Open today · 9:00 am – 6:00 pm

abrazo

pd: En un

[2015-07-16 19:06] braulio-evangelisti commented on #7
Gracias. Dale.

[2015-07-21 01:18] LeandroBraier opened #71 "Landing para Presentaciones a Clientes de Benteveo. 23/07"
@FAAREIA para el jueves necesito que me propongas una landing donde poder embeber una presentación tipo Powerpoint de Google Doc.

La idea es tener 10 urls fijas donde vamos a ir embebiendo las distintas presentaciones que le hacemos a un nuevo cliente.

En la reunión le regalaríamos al cliente un mantel de papel brandeado de Benteveo que tendría un código QR con esa URL, con lo cual tendríamos 10

[2015-07-21 14:58] FAAREIA commented on #71
Ahi podes ver una URL con un documento embebido:
http://www.benteveo.tv/_codigo-qr/

La pregunta es si van a estilizar la landing para el cliente dentro del PowerPoint o si esa estilización la quieren por fuera del archivo y que sea HTML. En caso de elegir la última opción, vamos a tener que idear un recuadro para mostrar el visor del PPT

[2015-07-21 15:14] LeandroBraier commented on #71
La estética en principio sería nuestra, de Benteveo. Pero ojo que el embed
es de un documento de drive. Un Google Slide de Google Drive, no un ppt así
nomás. Está preparado para eso?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-21 11:58 GMT-03:00 Federico Arena notifications@github.com:

[2015-07-21 16:52] FAAREIA commented on #71
Pasame la url de uno que tengan e investigo

[2015-07-21 17:58] LeandroBraier commented on #71
Te paso el embed por mail.

abrazo

[2015-07-22 11:28] FAAREIA commented on #71
http://www.benteveo.tv/_codigo-qr/?noredir=1

Ahi va actualizado Lea.

[2015-07-22 11:51] LeandroBraier commented on #71
Perfecto, Fede. Dos cosas nomás:

1) Fijate si podés hacer que arranque en PLAY la presentación, el embed que te pasé yo le había puesto esa opción me parece.

2) Necesito que me armes un landing así en 10 URLs distintas que se llamen así:

/propuesta-creativa/

/estrategia-creativa/

/propuesta-2015/

/estrategia-2015/

/presentacion-propuesta/

/presentacion-propuestas/

/presentacion-estrategia

[2015-07-22 12:18] FAAREIA commented on #71
http://www.benteveo.tv/_codigo-qr/propuesta-creativa/
Ya tiene play automático y las carpetas estan creadas.

[2015-07-22 12:28] LeandroBraier commented on #71
Genial. Gracias! La carpeta codigo-qr se le puede cambiar el nombre a /ideas/ ?

Pensando en la prolijidad frente al cliente.

Federico Arena notifications@github.com escribió:

[2015-07-22 13:05] FAAREIA commented on #71
Ahi lo cambié a "_ideas"

[2015-07-22 14:47] LeandroBraier commented on #71
Gracias Fede!

Federico Arena notifications@github.com escribió:

[2015-07-23 11:43] LeandroBraier commented on #71
Fede, me funciona solo el primer link. Todo el resto no. Serían:

http://www.benteveo.tv/_ideas/estrategia-creativa/

http://www.benteveo.tv/_ideas/propuesta-2015/

http://www.benteveo.tv/_ideas/estrategia-2015/

http://www.benteveo.tv/_ideas/presentacion-propuesta/

http://www.benteveo.tv/_ideas/presentacion-propuestas/

http://www.benteveo.tv/_ideas/presentacion-estrategia/

http://www.benteveo.

[2015-07-23 12:02] FAAREIA commented on #71
Es que necesito que me pases el código para embeber para cada uno. Sino va a estar repetido lo que ya viste.

[2015-07-23 12:18] LeandroBraier commented on #71
Entendido! Por ahora ponele el mismo embed asi puedo armar el codigo qr con la url confirmada y despues a medida que voy teniendo los embed te los paso por tickets aparte.

Abrazo

Federico Arena notifications@github.com escribió:

[2015-07-23 12:27] FAAREIA commented on #71
Listo a todo

[2015-07-23 12:54] LeandroBraier commented on #71
Gracias Fede! abrazo

[2015-07-28 11:42] #68 closed, assigned to mkreyness

[2015-07-28 11:42] #30 closed, assigned to LeandroBraier

[2015-07-28 11:44] LeandroBraier opened #72 "Blog Benteveo. 29/7"
Buen día @braulio-evangelisti !

Te paso un pedido nuevo. NEcesito si podés tunear con la misma estética que el newsletter de Benteveo este blog de blogger:

https://www.blogger.com/blogger.g?blogID=7350974466103458504#allposts

El acceso para editar te lo mando por mail. Confirmame si llegás para mañana. Es muy simple la edición pero vos tenés todos los elementos ya para armarlo más fácil.

abraz

[2015-07-28 12:02] braulio-evangelisti commented on #72
Estoy con la maquetación de la landing de paty, capas mañana a la tarde pueda estar esto, depende cuanto nos lleve paty.

Abrazo

[2015-07-28 12:16] LeandroBraier commented on #72
Perfecto. Para mañana a la tarde está más que bien.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-28 9:02 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2015-07-30 12:38] LeandroBraier commented on #72
Buen día @braulio-evangelisti ! Cómo venimos con este blog?

abrazo

[2015-07-30 14:59] braulio-evangelisti commented on #72
Fijate si ahi va queriendo Lea. Ya para poner una entrada de diferente color a la otra nose si se puede dentro del motor de blogger, tendria que investigarlo.

Abrazo

[2015-07-30 16:58] LeandroBraier commented on #72
Quedó muy bueno Brau!!

En base a eso lo retoco, le corrijo los posts y estamos. Gracias!!

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-30 11:59 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2015-07-30 17:04] braulio-evangelisti commented on #72
Buenisimo.

Tene cuidado cuando pegas texto copiado desde otro lado en el editor del post que te pega los estilos tambien. Hay un boton en el editor que es para borrarle todo estilo al contenido que pegaste (Una T con una x chiquita). Los textos de los post de prueba tenian el fondo blanco y cuando le cambie el color al gris ese recien ahi se noto.

Abrazo

[2015-07-30 17:37] LeandroBraier commented on #72
Excelente info. Gracias Brau! recién me entero de ese botón.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-07-30 14:04 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2015-08-03 14:56] LeandroBraier commented on #71
@FAAREIA , necesito URGENTE que subas los siguientes embeds de Google Slides a las siguientes URL:

EN:

/propuesta-creativa/

VA EMBED 1 PATY (te lo mando por mail)

EN:

/propuesta-creativa2/

VA EMBED 2 IRSA (tambien por mail)

abrazo

[2015-08-03 15:49] FAAREIA commented on #71
http://www.benteveo.tv/_ideas/propuesta-creativa/
http://www.benteveo.tv/_ideas/propuesta-creativa2/

[2015-08-03 16:44] LeandroBraier commented on #71
Gracias Fede! excelente!

Federico Arena notifications@github.com escribió:

[2015-08-08 14:37] #72 closed, assigned to braulio-evangelisti

[2015-08-08 14:38] #49 closed, assigned to LeandroBraier

[2015-08-08 15:19] LeandroBraier opened #73 "Blog Benteveo. 10/08"
Brau, estuve intentando retocar el blog pero me está costando dejarlo como necesitamos.

Te paso una referencia:

http://blog.nextperience.net/

Queremos que el blog de una imagen más pro como esta, pero con la estética actual, que está buena. Para eso, le saqué los dos widgets de la derecha, pero habría que sumarle lo siguiente:

1) Una barra arriba como la de Nextperience en la que figure Bentev

[2015-08-08 22:20] LeandroBraier commented on #73
Va logo nuevo Brau!

![logo-benteveo-agencia-productora](https://cloud.githubusercontent.com/assets/6719872/9152522/85c4cdd4-3e02-11e5-88b2-43169009a695.png)

[2015-08-10 15:34] LeandroBraier commented on #73
Hola @braulio-evangelisti ! Como venis con esto?

[2015-08-18 15:26] LeandroBraier commented on #73
Buen día @braulio-evangelisti !! Hoy metamosle a full para tener esto a la tarde. Confirmame por favor.

abrazo

[2015-08-18 16:13] braulio-evangelisti commented on #73
Hola lea. Le estuve dando a la mañana. Lo del encabezado y footer en todo el ancho es medio complejo y me va a llevar mas tiempo.
Si lo queres terminado hoy lo puedo dejar con el estilo del newsletter como estaba antes.
Abrazo

[2015-08-18 16:33] LeandroBraier commented on #73
No hace falta que sea todo el ancho. Hacé una primer versión que tenga la estética que te pido pero no todo el ancho por ahora. Que todo el ancho sea en versión 2.0.

[2015-08-19 00:08] braulio-evangelisti commented on #73
Lea anda fijandote como va quedando y me vas tirando asi voy corrigiendo sobre la marcha.
Los iconos de las redes sociales los voy a tratar de meter en el header como pediste. Es un poco mas complejo.
Mañana sigo
Abrazo

[2015-08-19 00:45] LeandroBraier commented on #73
Gracias Brau! Está quedando bueno. Va feedback en base al pedido que te había hecho

1) Estamos bien con ese header. Los links a redes no uses los mismos botones exactamente que los que tiene el blog de Nextperience. Elegí íconos que combinen con nuestra estética, por ejemplo los que usaste en nuestro newsletter.

2) Esto no está, va a estar mañana?

3)

a) El recuadro está bueno, simplemente pone

[2015-08-19 00:59] LeandroBraier commented on #73
Sumo un punto más y te aviso que hice agregados en la entrada anterior. abrazo

[2015-08-19 11:16] braulio-evangelisti commented on #73
Buen dia Lea

2) Comentame un poco mas como te imaginas los recuadros, si de a 2 por fila, mas chicos, mas grandes, ubicacion de los elementos, etc.

3) b) Esta funcionando, te suscribe al feed del blog y te manda mail cada vez que se sube un artículo nuevo al blog.

5) Me pide que sea una direccion tipo "blog.benteveo.tv" en vez de "benteveo.tv/blog". Tendrian que crear el subdominio desde el cpa

[2015-08-19 11:59] LeandroBraier commented on #73
2) Brau, espero propuestas de uds para esto. Yo me lo imagino tipo mosaico de imágenes, es un estilo muy habitual en las nuevas web de hoy. Pueden no ser todos GIF animados, concuerdo que no quedaría del todo bien. De todas formas dejemos este punto 2 para la versión 2.0, asi me pasás varias propuestas y lo hacemos bien.

3) b) Buenisimo. Puedo acceder de alguna manera a ese listado de mails para

[2015-08-19 12:15] braulio-evangelisti commented on #73
Ok. Claro el tema de los gifs redondos es muy especifico. Para el mediodia tendria que estar todo listo.

El punto 4 del footer las frases "Plantilla Simple. Con la tecnología de Blogger." Te lo agrega solo, voy a ver si lo puedo eliminar modificando el codigo de la plantilla.

Los suscriptores los vas a poder ver aca: https://feedburner.google.com/ una vez estes logueado con la cuenta de gmail de

[2015-08-19 12:42] LeandroBraier commented on #73
Excelente Brau. Gracias!!!

[2015-08-19 13:10] LeandroBraier commented on #73
5) Ya hice los pasos que pide Google hacer. Creo que lleva 24 hs hasta que efectivamente está funcionando. En un día chequeamos.

abrazo grande

[2015-08-19 15:17] LeandroBraier commented on #73
Brau, lo veo muy bien ahora al blog. Ya se efectivizó el traspaso de URL también.

Si te parece OK, te pido los últimos detalles de hoy y el resto lo seguimos para la versión 2.0:

1) En el Newsletter, necesito que cambies los links de las 3 notas para que lleven a las respectivas notas del blog.

2) El recuadro amarillo que dice "Benteveo Agencia + Producto y el slogan" necesito que tenga el link

[2015-08-19 16:57] braulio-evangelisti commented on #73
Listo Lea.
Estuvo caido un rato el blog y no podia sacar los links de las notas para ponerlo en el news pero ya estan los dos puntos hechos.

Abrazo

[2015-08-19 17:08] LeandroBraier commented on #73
Perfecto Brau! Quedó muy lindo la verdad. Lo vamos a seguir trabajando pero la versión 1.0 ya está

Detalles que veo en el newsletter:

1) Falta el tilde en "¿está nuestra empresa preparada para hablarle a un Prosumidor?"

2) Falta el tilde en: "...descubrí los próximos pasos para que tu marca no quede afuera en el mundo digital."

3) Falta el tilde en: "Mirá los talentos Argentinos que ganaron."

[2015-08-19 17:09] LeandroBraier commented on #73
Lo del footer que dice Plantilla Simple no lo pudiste sacar no?

[2015-08-19 17:57] braulio-evangelisti commented on #73
Listo los tildes.
Si lo del footer inserta todo el bloque, esta como protegido para que no puedas borrarlo si hay un footer puesto.

[2015-08-19 18:00] LeandroBraier commented on #73
Mmmm, ok. Dejemoslo así entonces. Gracias Brau!!

abrazo

[2015-08-24 16:04] LeandroBraier commented on #73
Buen día Brau, pequeños cambios para el blog:

En el recuadro amarillo:

a. que diga Benteveo arriba y Agencia + Productora en una segunda línea con tipografía más chica.

b- Agregarle debajo de la frase, el texto "www.benteveo.tv" y que linkee también al sitio.

Confirmame cuando lo tengas porfa.

abrazo

[2015-08-24 17:23] braulio-evangelisti commented on #73
Hola Lea

Fijate ahi

Abrazo

[2015-08-24 17:35] LeandroBraier commented on #73
Está bien pero ponelo debajo de la frase, no arriba. Y en color azul mejor, no rojo.

Gracias!

Braulio Evangelisti notifications@github.com escribió:

[2015-08-24 17:54] braulio-evangelisti commented on #73
Listo.
Pense que "la frase" era "Agencia + Productora" en vez del texto de abajo.
Ahi lo pase de lugar y de color.

Abrazo

[2015-08-24 18:05] LeandroBraier commented on #73
Perfecto Brau! Gracias!!

Ya andás mejor de salud?

[2015-08-24 18:36] braulio-evangelisti commented on #73
Si por suerte, me guarde bien el finde y ya casi se fue todo jeje gracias por preguntar un abrazo

[2015-08-25 20:37] LeandroBraier commented on #73
Brau, te pido un cambio mínimo más nomás y ya cerramos esto.

Necesito que le agregues la posibilidad de dejar comentarios en los posteos. No lo quiero hacer yo en blogger por si te cago algo del diseño que customizaste.

abrazo

[2015-08-25 21:08] braulio-evangelisti commented on #73
Listo Lea

Abrazo

[2015-08-25 21:59] LeandroBraier commented on #73
Gracias Brau!! Una cosita más: FIjate que el link a la web de benteveo al pie del recuadro amarillo está mal. Lleva a: http://blog.benteveo.tv/www.benteveo.tv

[2015-08-26 02:21] braulio-evangelisti commented on #73
Corregido.

Abrazo

[2015-08-26 12:29] LeandroBraier commented on #73
Gracias Brau!! Queda cerrado esto por ahora. Tené en el tintero lo otro que nos quedó de los mosaicos para la versión 2.0

abrazo

[2015-08-26 12:29] #73 closed, assigned to braulio-evangelisti

[2015-09-02 14:38] LeandroBraier opened #74 "Ultimos trabajos/ Benteveo"
@braulio-evangelisti necesito subir el trailer de la peli Francisco la pelicula en la pagina de Benteveo.

Para eso vamos a subirlo a Vimeo. Lo que voy a necesitar es:

1) Que en Últimos trabajos aparezca este ultimo video subido a Vimeo.

2) Que al pie del video, donde ahora dice Corro con Jonas, se lea lo siguiente:

"Francisco, el padre Jorge" -Trailer Oficial-

3) Un link directo que me lleve

[2015-09-02 18:30] braulio-evangelisti commented on #74
Lea mañana a la mañana lo puedo hacer a esto.

Pasame el link del video en vimeo cuando lo tengas.

En el punto 3 seria agregar un link nuevo en el menu es correcto?

[2015-09-02 18:44] LeandroBraier commented on #74
No hace falta que en el menu este el link. Lo que necesito es una url para poner en un mail que lleve directo a la sección de ultimos trabajos.

Mañana a la mañana bien temprano está bien. Gracias!

Braulio Evangelisti notifications@github.com escribió:

[2015-09-02 20:58] LeandroBraier commented on #74
Brau, ya tengo el link del video. Te paso link y embed:

https://vimeo.com/138124275/

`<iframe src="https://player.vimeo.com/video/138124275" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>`

[2015-09-03 12:20] braulio-evangelisti commented on #74
Lea ya lo tengo hecho en local a esto. Estoy sin luz hasta las 10, estoy saliendo para algun bar asi lo subo.

[2015-09-03 12:22] LeandroBraier commented on #74
Gracias Brau!!! Se agradece muchísimo el esfuerzo, se lo voy a comentar a
Eze. abrazo grande

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Thu, Sep 3, 2015 at 9:20 AM, Braulio Evangelisti <
notifications@github.com> wrote:

[2015-09-03 13:07] braulio-evangelisti commented on #74
Listo Lea ahi subio.

Abrazo

[2015-09-03 13:15] LeandroBraier commented on #74
Gracias Brau!! Quedó muy bien. Ahora necesito el link directo porfa.

abrazo

[2015-09-03 13:30] braulio-evangelisti commented on #74
Ahi va

http://benteveo.tv/#ultimos-trabajos

[2015-09-03 13:46] LeandroBraier commented on #74
Gracias Brau!! Ahora si!!

[2015-09-03 13:46] #74 closed, assigned to braulio-evangelisti

[2015-09-07 18:48] LeandroBraier commented on #71
HOla @FAAREIA

necesito que lo antes posible me armes una nueva url con un embed.

Sería esta URL:

http://www.benteveo.tv/_ideas/propuesta-2016/

El embed te lo estoy pasando en breve.

[2015-09-07 18:48] LeandroBraier commented on #71
Ante la duda (poruqe lo acabo de corregir) la url correcta a crear es:

http://www.benteveo.tv/_ideas/propuesta-2016/

abrazo

[2015-09-07 21:45] LeandroBraier commented on #71
Fede, acá está el embed. Porfa confirmame cuando esté todo arriba.

`<iframe src="https://docs.google.com/presentation/d/18B0uUT3GxnnuiarXU141A28E4w7xsRjW6cwFhqci53k/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="629" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>`

abrazo

[2015-09-07 22:07] FAAREIA commented on #71
Hecho

[2015-09-08 03:27] LeandroBraier commented on #71
Gracias Fede!!!! abrazo grande

[2015-09-08 03:27] #71 closed, assigned to FAAREIA

[2015-09-16 12:57] LeandroBraier opened #75 "Agregado de sección a Web Benteveo. 22/09"
Fede, necesito sumar una sección a la web, que es el área de cine. La estructura es idéntica a la de Entretenimiento + Comunicación. Se ubicaría después de últimos trabajos y antes de Contacto

TÍTULO: Cine + Entretenimiento

TEXTO:

El texto incluye algo que dice: Nos interesa recibir proyectos bla boa

Desde un principio el corazón de Benteveo siempre estuvo en la producción audiovisual. Realiza

[2015-09-17 19:42] LeandroBraier opened #76 "Newsletter Benteveo de Septiembre. 18/9"
@braulio-evangelisti necesitaría que diseñes este news para mañana. Es la misma estética que el de agosto pero nuevos contenidos. LO único que falta hacer (porque no lo pude hacer yo) es convertir en círculos los GIFs.

https://docs.google.com/document/d/1BbEQjwa-kZNfRelnEgZPCf7mXcdFXVeqo-f1Gh9aoyA/edit

Los links van a estar mañana a la tarde. SI mañana a la tarde ya lo tenés cuando te los pase l

[2015-09-18 02:12] braulio-evangelisti commented on #76
Perfecto Lea. Si podes enviame los gifs por mail o subirlos a algun lado si son muy pesados que no encuentro como bajarlos del google doc.
Mañana temprano reviso bien si falta algo mas.
Abrazo

[2015-09-18 02:14] LeandroBraier commented on #76
Dale, ahi te los envio.

abrazo y gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-09-17 23:12 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2015-09-18 12:56] LeandroBraier commented on #76
Brau, esto podrá estar para la tarde?

[2015-09-18 13:08] braulio-evangelisti commented on #76
http://www.benteveo.tv/mailing/septiembre/

Me falta la imagen de la 3° nota, mandamela por separado por favor.

[2015-09-18 13:45] braulio-evangelisti commented on #76
Listo ahi subi la 3er imagen

Abrazo

[2015-09-18 18:49] LeandroBraier commented on #76
Gracias Brau! Quedó muy bueno.

Te paso los links
http://blog.benteveo.tv/2015/09/tu-marca-me-emociona-el-caso-jonas.html
http://blog.benteveo.tv/2015/09/ahora-pauta-en-todos-los-canales.html
http://blog.benteveo.tv/2015/09/por-que-google-y-facebook-cambiaron-sus-logos.html

Y te pido un par de cambios de texto.

En nota 2, donde dice:

"Cada vez son más las herramientas que existen para que tu pu

[2015-09-18 23:27] braulio-evangelisti commented on #76
Listo Lea.

Abrazo

[2015-09-19 11:47] LeandroBraier commented on #76
Impecable Brau. Gracias!

[2015-09-21 17:34] braulio-evangelisti commented on #75
Lea el campo sinopsis seria un campo de texto muy grande o un boton como los de cv para subir un doc de una pagina maximo?

[2015-09-21 18:45] LeandroBraier commented on #75
Un campo de texto grande pero no más de 500 caracteres.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Sep 21, 2015 at 2:34 PM, Braulio Evangelisti <
notifications@github.com> wrote:

[2015-09-21 19:46] braulio-evangelisti commented on #75
Fijate ahi una primer pre-version, falta trabajar el form y hacerlo andar todavia pero asi se va viendo y vamos depurando de entrada.

http://benteveo.tv/index-cine.html

Abrazo

[2015-09-21 19:49] LeandroBraier commented on #75
Está perfecto. Solo quitale la frase de arriba chiquita "Nos interesa recibir proyectos..." que fue un error mio, una linea de más en el pedido que te hice.

abrazo

[2015-09-21 19:54] LeandroBraier commented on #73
Pequeño detalle Brau. Es posible que en la home hagas que solo se muestren 3 artículos de blog por vez? Ahora por ejemplo subimos 3 nuevos artículos y se ven 6 en total.

[2015-09-21 20:43] braulio-evangelisti commented on #73
fijate ahora

[2015-09-21 20:45] braulio-evangelisti commented on #75
listo

[2015-09-21 21:28] LeandroBraier commented on #73
Perfecto Brau. ya quedó seteado así de ahora en más?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Sep 21, 2015 at 5:43 PM, Braulio Evangelisti <
notifications@github.com> wrote:

[2015-09-21 21:30] LeandroBraier commented on #75
Genial. Poné que donde dice "Fecha" haya un calendario de fecha para elegir
como en Rio Ancho y en "Número de páginas" que sólo se puedan escribir
números.

Después de eso mandame a mi mail una muestra de como sale el formulario
porfa.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Mon, Sep 21, 2015 at 5:45 PM, Braulio Ev

[2015-09-21 22:04] LeandroBraier commented on #76
Pequeño pedido, Brau.

Donde dice "¿Necesitás asesoramiento o querés consultarnos algo?"

Cambialo a que diga:

"¿Necesitás ideas o querés consultarnos algo?"

abrazo

[2015-09-22 14:05] braulio-evangelisti commented on #76
Hecho
Abrazo

[2015-09-22 14:08] braulio-evangelisti commented on #73
Asi es, va a mostrar 3 entradas por página solamente

[2015-09-22 14:39] LeandroBraier commented on #73
Perfecto, gracias Brau!

[2015-09-22 14:39] LeandroBraier commented on #76
Gracias Brau!

[2015-09-22 21:25] braulio-evangelisti commented on #75
Ya le agregue el datePicker a fecha y el campo paginas lo pase a numérico.

Habría posibilidad de consultar con quien haya programado el sitio si ya hay alguna librería para envío de mails o esta contemplado de alguna forma?

[2015-09-23 11:15] LeandroBraier commented on #75
Gracias Brau! Consultalo con Fede a eso que sabe.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

2015-09-22 18:25 GMT-03:00 Braulio Evangelisti notifications@github.com:

[2015-09-23 11:25] braulio-evangelisti commented on #75
Perfecto. Te aviso cuando este listo.

Abrazo

[2015-09-23 12:30] braulio-evangelisti commented on #75
Lea ya que el form envia un par de archivos adjuntos me confirmo Fede que habria que hablar con el programador

@mkreyness

[2015-09-23 12:36] LeandroBraier commented on #75
Genial, Brau.

MK, decinos qué necesitás de nosotros para avanzar acá.

abrazo

[2015-09-23 12:42] mkreyness commented on #75
Donde esta el form asi lo miro ?

[2015-09-23 12:47] braulio-evangelisti commented on #75
http://benteveo.tv/index-cine.html#cine -> "Envianos tu proyecto"

[2015-09-23 12:56] mkreyness commented on #75
O sea tiene un par de adjuntos, cual es la idea Lean, que los adjuntos vengan en el mail o que queden almacenados en un repositorio y en el mail venga un link ?  A que direccion tiene que llegar ?
Tambien esto es una puerta abierta a robots que metan archivos con todo tipo de virus les aviso.

[2015-09-23 13:02] LeandroBraier commented on #75
Ok, MK.

Esto tiene que ser igual que como fue el casting de Benteveo te acordás?
Tal cual. Repositorio y link en el mail que llega a info@benteveo.tv

La limitación a los virus es que el formulario debe estar completo si o si
para poder enviarse. No puede faltar nada.

Si se pudiera limitar los archivos que pueden adjuntar solo a PDF o .doc de
un máximo de 3 mb de tamaño sería ideal también.

abr

[2015-09-23 13:07] mkreyness commented on #75
Ok, lo que pasa es que el casting creo que se hizo desde el servidor viejo de Benteveo, que estaba super cerrado a todo, aca es un entorno mas abierto y por lo tanto mas expuesto.
En teoria se puede limitar pero depende del browser respetar o no esas limitaciones, y justamente los robots que inyectan viruses no son precisamente respetuosos.
Para cuando tiene que estar esto ?

[2015-09-23 13:50] mkreyness commented on #75
Pregunta: no se le pide un email al que carga esto, asi que por lo tanto tampoco se le manda una confirmacion de que fue recibido, ok ?

[2015-09-23 15:00] mkreyness commented on #75
Ya quedo implementado en el boton enviar de ESTE html:

http://benteveo.tv/index-cinemk.html

No te pise el otro porque no sabia si estabas trabajando.
Si no cambiaste nada, directamente reemplazalo por este.
Si lo tenes que combinar, fijate los cambios que hice en el encabezado del form y en los elementos de tipo   input type="file" para forzar el tipo de archivos que queremos (igual eso no asegu

[2015-09-23 16:50] braulio-evangelisti commented on #75
Perfecto.
No, de mi parte el ultimo cambio lo hice ayer asi que el html que agarraste hoy tenia lo ultimo.

[2015-09-23 20:56] LeandroBraier commented on #75
Excelente chicos!

Solo agreguenle al formulario que cargue una dirección de mail, como sugiere MKKreyness.

Con eso ya estamos.

abrazo

[2015-09-23 22:21] braulio-evangelisti commented on #75
Listo el campo mail.

[2015-09-23 22:30] mkreyness commented on #75
No es realmente "email del autor", yo diria ponerle "email de contacto", lo modifico yo, no te preocupes.

[2015-09-23 23:49] LeandroBraier commented on #75
Gracias MK! Ya se lo mandé a Eze, a ver qué dice.

[2015-09-24 00:35] mkreyness commented on #75
ojo falta programar que incluya ese email en el texto y la idea seria que le mande en el mismo momento una confirmacion de que recibimos sus datos y archivos, no ?

[2015-09-24 01:30] LeandroBraier commented on #75
Si tal cual.
El sep 23, 2015 9:35 PM, "mkreyness" notifications@github.com escribió:

[2015-09-24 03:32] mkreyness commented on #75
listo ya complete eso.

[2015-09-24 12:39] LeandroBraier commented on #75
Gracias MK!! Espero la aprobación de Eze y les aviso.

abrazo

[2015-09-24 14:10] LeandroBraier commented on #76
Buen día @braulio-evangelisti !

Pedidos de cambio de texto muy simples, en función de que ayer ganamos el Oro en los Premios Obrar y estamos chochos.

Porfa corregilo hoy sin falta así lo podemos mandar

DONDE DICE

Las últimas investigaciones científicas demuestran que las marcas que emocionan son las más recordadas por los consumidores. Mirá el video de esta campaña que hicimos y enterate por q

[2015-09-24 15:18] braulio-evangelisti commented on #76
oh si, felicitaciones!

Actualiza la news que ya apliqué los cambios.

Abrazo

[2015-09-24 15:23] LeandroBraier commented on #76
Perfecto BRau!! Gracias!!

abrazo

[2015-09-24 15:23] #76 closed, assigned to braulio-evangelisti

[2015-09-25 11:57] LeandroBraier commented on #75
@FAAREIA Está OK este agregado!

Simplemente les pido que pongan en negrita la siguiente frase del texto: "Si tenés un proyecto y te gusta lo que hacemos, aquí tenés un espacio para presentárnoslo.”

Con ese detalle modificado ya subanlo a producción directamente.

abrazo

[2015-09-28 19:37] LeandroBraier commented on #75
Chicos, apenas puedan subanlo a producción por favor.

[2015-09-29 13:13] FAAREIA commented on #75
Fijate ahora lea, dale F5 y confirmame si esta todo OK.
Abrazo

[2015-09-29 13:15] LeandroBraier commented on #75
Gracias Fede. Está ok pero le falta la negrita que te pedí. FIjate arriba,
la última frase del texto antes del botón va en negrita.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Producciones http://benteveo.tv
Móvil 1158717399

On Tue, Sep 29, 2015 at 10:13 AM, Federico Arena notifications@github.com
wrote:

[2015-09-29 13:19] FAAREIA commented on #75
Ahi va

[2015-09-29 14:02] LeandroBraier commented on #75
Perfecto, gracias!

[2016-01-20 20:31] LeandroBraier opened #77 "Resolver el Misterio de Nisuta"
En la produ.

[2016-01-20 23:17] ghost commented on #77
Cuando vaya a revisar los monitores me fijo

[2016-01-22 20:04] ghost commented on #77
Hice un monitoreo de las redes, vi que la gran mayoria de las redes cercanas estaban en el canal 1 y en el canal 11, por lo tanto, puse al nisuta en el canal 8. La velocidad de descarga fue de 18 Mbits
Hay que probar con todas las maquinas conectadas a ver si no es un tema de que se satura la memoria del router.

![image](https://cloud.githubusercontent.com/assets/16599421/12521548/f21cbf00-c129-1

[2016-01-22 20:16] LeandroBraier commented on #77
Sos un genio Valentin!!!! El lunes la probamos por las dudas, pero confio
en que encontraste el problema.

abrazo y gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-01-22 17:04 GMT-03:00 valentinsabbath notifications@github.com:

[2016-02-10 14:48] #77 closed, assigned to nobody

[2016-02-10 14:48] LeandroBraier commented on #75
@FAAREIA el formulario no está funcionando.

Te paso captura de lo que está llegando al mail de Benteveo.

<img width="570" alt="captura de pantalla 2016-02-10 a las 12 05 37 p m" src="https://cloud.githubusercontent.com/assets/6719872/12950490/37b61ae0-cfec-11e5-9915-ed5da2b25ef7.png">

Te fijás qué puede ser?

[2016-02-10 15:48] LeandroBraier commented on #75
@FAAREIA vos estás probando?

Eze está recibiendo pruebas vacias como las que te pasé pero en tandas de a 5 o 6 seguidas. Yo hice 1 sola prueba.

[2016-02-10 18:08] FAAREIA commented on #75
No estoy probando ni estuve.
Ahora lo chequeo

[2016-02-10 18:11] FAAREIA commented on #75
De que evento es ese formulario de contacto?
URL de la landing?

[2016-02-10 18:39] LeandroBraier commented on #75
http://benteveo.tv/#enviar-proyecto

[2016-02-11 11:22] FAAREIA commented on #75
Ahora voy a ver de ponerle un captcha.

[2016-02-11 11:28] LeandroBraier commented on #75
Gracias Fede. Igual lo importante es que el formulario llega vacío y ojo
que yo puse enviar una sola vez y llegaron 7 mails. Son problemas de como
está funcionando el formulario no del spam en el uso.
El feb. 11, 2016 8:22 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-11 11:30] FAAREIA commented on #75
El formulario debe llegar vacio porque un robot se mete y lo manda como si nada. Si bien los campos son obligatorios, esto robots no entran desde un navegador moderno a los sitios. Un captcha los pararía.
Lo de que se envio 7 veces con solo click recien ahora lo entendí, voy a verlo, sino le digo a marce.

[2016-02-11 11:33] LeandroBraier commented on #75
Dale, ahora entiendo. Perfecto, gracias!
El feb. 11, 2016 8:30 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-11 13:05] FAAREIA commented on #75
Bueno, ahi estuve revisando todo y la verdad no encontré nada anormal en el código que enviá el formulario ni nada.
Lo que si ahora el formulario tiene un captcha que por ahora no funciona al enviar.
@mkreyness
- Ver si se puede reproducir el error de que cuando envias 1 formulario, llegan 7 mails replicados.
- Ver si el bug puede ser algo relacionado a los archivos adjuntos. Éste item es un supue

[2016-02-11 13:19] LeandroBraier commented on #75
@FAAREIA Recibido OK la nueva prueba!!

Te paso captura:

<img width="516" alt="captura de pantalla 2016-02-11 a las 10 36 49 a m" src="https://cloud.githubusercontent.com/assets/6719872/12977333/dfb18d08-d0a8-11e5-9d10-81cdd86b1d38.png">

Creo que ahora está funcionando bien, no sé si falta corregir algo más. Avisen nomás.

abrazo

[2016-02-16 11:24] FAAREIA commented on #75
Hola Lea, no comenté antes porque estaba a full con lo de Revear. Este último tema no esta solucionado. Hay que implementar el captcha asi no llegan mails vacios.
@mkreyness revisate mi comentario anterior: https://github.com/LeandroBraier/BenteveoTV/issues/75#issuecomment-182855057

[2016-02-16 11:51] mkreyness commented on #75
cual es el URL en uso de todo esto ?

[2016-02-16 11:52] FAAREIA commented on #75
es el sitio de Benteveo TV en la parte de cine, hay un botón que levanta un modal con el formulario.

[2016-02-16 12:11] mkreyness commented on #75
la documentacion del captcha dice que la primera linea del php debe decir esto:

`<?php session_start(); ?>`

y no veo que este puesto, lo probaste y no andaba ?

[2016-02-16 12:13] FAAREIA commented on #75
Si lo probé y nada, como que no lo interrupia al código

[2016-02-18 12:40] LeandroBraier opened #78 "Intervención en Archivo 360º MSC"
Buen día @FAAREIA ! Necesito que me confirmes esto.

MSC, un cliente nuestro, quiere que editemos esta página 360º agregando gráficos e íconos. Podemos hacerlo?

http://mscpodcast.msccruises.com/Podcast/VirtualTourMusica/ar_es/index.html

A mi me da la sensación que es un archivo flash por lo cual no podemos pero espero tu confirmación.

[2016-02-18 15:11] FAAREIA commented on #78
Hola Lea, es un archivo flash y esta combinado con otro programa/plugin que no conozco:  http://krpano.com/

[2016-02-18 15:13] LeandroBraier commented on #78
Es un viewer ese, pero está pensado tanto para Flash como para HTML5. Lástima que lo hicieron en Flash.

[2016-02-18 16:12] FAAREIA commented on #78
Si pero no creo que haya otra opción. Capas que hoy en día si se pueden combinar varios plugins y rearmar algo similar pero no funcionaría en todos los dispositivos y navegadores.

[2016-02-18 17:53] LeandroBraier commented on #78
Entiendo. Ya le respondí a Eze entonces.

abrazo

[2016-02-19 21:16] LeandroBraier commented on #78
@FAAREIA me pasaron una especie de editables y un instructivo.

http://www.msccrucerosargentina.com/mails/2014/VtourMusicaClass_ID6624_1CE6CD5D03.zip

[Offline_navigation_instructions.pdf](https://github.com/LeandroBraier/BenteveoTV/files/138702/Offline_navigation_instructions.pdf)

Necesito nomás que me digas si con esto podemos meter alguna gráfica dentro de la navegación.

abrazo

[2016-02-22 11:30] FAAREIA commented on #78
Si hay un editable y un instructivo es muy muy probable que se puedan agregar cosas. Lo que habría que hacer es consultar este tema con alguien que la tenga clara con flash ya que el archivo y lo hecho se ve bastante complejo.

[2016-02-22 11:49] LeandroBraier commented on #78
Gracias @FAAREIA !

Consulto con un diseñador que tenemos que sabe trabajar Flash. abrazo grande

[2016-02-22 11:49] #78 closed, assigned to FAAREIA

[2016-02-25 01:21] LeandroBraier opened #79 "Primeros Templates para Siguit Digital Signage PARA EL LUNES"
@FAAREIA cómo andás?

Estamos desarrollando un sistema de cartelería digital con @mkreyness y necesitamos hacer una serie de templates estéticos para distintas industrias a las cuales podríamos venderles el servicio.

Te paso acá un documento que armamos con el perfil de cartelería digital que requieren 5 industrias.

[Referencias para templates Siguit DS (1).pdf](https://github.com/LeandroBraier/

[2016-02-25 13:29] FAAREIA commented on #79
Resolución 1920x1080?
Cuanto más grande más cómodos vamos a estar para poner la info

[2016-02-25 13:55] LeandroBraier commented on #79
Si, esa sería la resolución.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-02-25 10:29 GMT-03:00 Federico Arena notifications@github.com:

[2016-02-26 11:57] FAAREIA commented on #79
Lea, no creo que lleguemos para el lúnes teniendo en cuenta lo de Bayer y lo del nuevo diseño de newsletter. Hbaría que hacerlo para otro día de la semana que viene, diría que para el viernes seguro si no hay ninguna otra urgencia

[2016-02-26 12:26] LeandroBraier commented on #79
Está bien Fede. Esto no es prioridad frente a Bayer y al diseño de
newsletter asi que me parece bien. Gracias!
El feb. 26, 2016 8:57 AM, "Federico Arena" notifications@github.com
escribió:

[2016-02-29 11:34] FAAREIA commented on #75
Lo reabro porque esto no fue resuelto. Esta mezclado el issue pero no importa.
@mkreyness fijate si podes aplicar lo del captcha al formulario ese. Cualquier cosa lee desde [aca](https://github.com/LeandroBraier/BenteveoTV/issues/75#issuecomment-182855057)

[2016-03-03 11:52] FAAREIA commented on #79
Ahi va el primero: Inmobiliaria
![inmobiliaria](https://cloud.githubusercontent.com/assets/6184969/13493474/18e9351a-e11d-11e5-865f-94c27d724cba.png)

[2016-03-03 12:21] LeandroBraier commented on #79
Excelente Fede!! Muy bueno!!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-03 8:52 GMT-03:00 Federico Arena notifications@github.com:

[2016-03-04 14:38] FAAREIA commented on #79
Hoteles

![hoteles](https://cloud.githubusercontent.com/assets/6184969/13529933/7cdba022-e1fd-11e5-94da-8c2abe1be1b2.png)

[2016-03-04 14:41] FAAREIA commented on #79
Lea, estuve tratando de hacer algunos otros modelos y me faltaría data más precisa.
Por ejemplo en salud hay varios modelos, ¿qué les interesa mostrar? ¿turnos? ¿solo la empresa?
En comidas lo mismo: ¿qué les interesa mostrar? ¿promociones? ¿especiales? ¿listado de precios?

[2016-03-04 15:28] LeandroBraier commented on #79
Para Salud podemos tener el de Bayer. Fijate si podés adaptar algo parecido para un Farmacity ponele.

En cuanto a comidas te paso la referencia del cliente de Digital Signage de heladerías que ya tenemos, para que tomes de referencia:

https://drive.google.com/drive/folders/0B_6ywYX9PGKLdXRUUnp5NkE1Ums

Decime si te sirve.

abraoz

[2016-03-04 15:28] LeandroBraier commented on #79
Muy bueno este de Hoteles eh!

[2016-03-04 15:31] FAAREIA commented on #79
Perfecto, justo estaba haciendo el de Heladería.
El ejemplo de bayer no lo veo en el PDF, me lo mandarías?

[2016-03-04 15:32] LeandroBraier commented on #79
Es el que hiciste vos mismo! En este ticket:

https://github.com/LeandroBraier/Bayer/issues/1

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Mar 4, 2016 at 12:31 PM, Federico Arena notifications@github.com
wrote:

[2016-03-04 15:36] FAAREIA commented on #79
Ah joya y donde estan las novedades+transitio pongo los servicios ofrecidos? lo del tiempo lo cambio por un texto introductorio?
Osea que de datos en el de salud, habría un texto introductorio y un listado de servicios y/o productos con descuento capas

[2016-03-04 15:42] LeandroBraier commented on #79
En salud no. Dejá lo del clima y las noticias y dejá el video. Solo agregá
algo destacado que muestre los turnos ponele, como que es gente esperando
para entrar al médico y listo.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-04 12:36 GMT-03:00 Federico Arena notifications@github.com:

[2016-03-07 16:56] FAAREIA commented on #79
Ahi va heladería

![heladeria](https://cloud.githubusercontent.com/assets/6184969/13570077/d4922fbc-e44a-11e5-973c-a0826fb202f5.png)

Abrazo

[2016-03-07 16:59] LeandroBraier commented on #79
Buenísimo Fede!! El video quedaría de fondo no?

[2016-03-07 17:00] FAAREIA commented on #79
Si puede ser una foto o un video, la data no se veria afectada por uno u otro

[2016-03-07 17:01] LeandroBraier commented on #79
Perfecto. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Mon, Mar 7, 2016 at 2:00 PM, Federico Arena notifications@github.com
wrote:

[2016-03-08 15:05] FAAREIA commented on #79
Ahi va salud, lo modifiqué un poco asi "Turnos en curso" tenía más presencia.
![salud](https://cloud.githubusercontent.com/assets/6184969/13605365/fe4c5388-e525-11e5-8587-81a251c6af96.png)

[2016-03-08 15:08] FAAREIA commented on #79
Faltaría el de restaurantes no?

[2016-03-08 15:12] LeandroBraier commented on #79
No hace falta Fede!! Dejemoslo asío por ahora. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Tue, Mar 8, 2016 at 12:08 PM, Federico Arena notifications@github.com
wrote:

[2016-03-08 15:58] #79 closed, assigned to FAAREIA

[2016-03-09 16:22] LeandroBraier commented on #75
@FAAREIA en qué quedó esto?

[2016-03-09 17:14] FAAREIA commented on #75
Quedó en la nada. Capas que en este issue estaría bueno involucrar a la persona nueva asi marce no anda con mil cosas al mismo tiempo

[2016-03-09 17:17] LeandroBraier commented on #75
Ok, veanlo entre uds porfa. Necesito que funcione el formulario lo antes
posible. Nos sigue llegando mails con formularios vacíos.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-09 14:14 GMT-03:00 Federico Arena notifications@github.com:

[2016-03-09 17:31] mkreyness commented on #75
Los pongo en contacto con Amalia y le explican ustedes directamente ? Si no yo estoy en el medio y es lo mismo. El tema es que yo hasta ahora no le di acceso al servidor, siempre me mando las cosas a mi y yo las instale.

[2016-03-09 18:40] FAAREIA commented on #75
Si dale, pasale el link de este issue pero [desde aca](https://github.com/LeandroBraier/BenteveoTV/issues/75#issuecomment-182855057)

[2016-03-09 19:11] mkreyness commented on #75
Ahi le pase por mail el link, supongo que para agregarla aca al thread lo tiene que hacer Leandro.
Su direccion es amalia_garcia82@hotmail.com

[2016-03-09 19:14] LeandroBraier commented on #75
Como es su usuario MK? Así la busco por el usuario y la agrego.

[2016-03-09 19:16] mkreyness commented on #75
Usuario de github ? Ni idea, capaz no tenga. Veremos si puede acceder al link que le mande.

[2016-03-09 19:19] LeandroBraier commented on #75
Entonces hablalo vos con ella Marce, ella es tu junior. Derivaselo como te
parezca mejor.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-09 16:16 GMT-03:00 mkreyness notifications@github.com:

[2016-03-09 19:23] mkreyness commented on #75
ya le mande mail, pero si me tengo que poner a buscar los elementos y mandarselos y recibirselos hago mas rapido en arreglarlo yo ! La idea es que puedan trabajar con ella directamente sobre todo para estas cosas aisladas.

[2016-03-09 19:27] LeandroBraier commented on #75
Ok, entonces Fede comunicate vos con ella puede ser? Para estas cosas más
simples.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-03-09 16:23 GMT-03:00 mkreyness notifications@github.com:

[2016-03-09 19:29] FAAREIA commented on #75
ahi le mando un mail para decirle que cualquier cosa me pregunte

[2016-03-14 11:53] FAAREIA commented on #75
Ya esta funcionando el captcha

[2016-03-14 11:59] LeandroBraier commented on #75
Gracias Fede! Probaste ahora si el formulario ahora carga los datos? Sino yo pruebo, pero tené en cuenta que si Eze vuelve a recibir un formulario vacío por mail vamos a estar igual que al principio. Pudiste confirmar por qué llegaban vacíos? Me suena que no es solo el capcha.

[2016-03-14 12:23] FAAREIA commented on #75
El formulario ya lo probé y con el captcha mal tira error y con el captcha bien lo manda.
Imagino que recibian el formulario vacio porque un robot enviaba el formulario pero al no poder reproducir el envío vacio del formulario no puedo solucionarlo.
Si vuelve a pasar vemos pero ahora que esta el captcha dudo que suceda.

[2016-03-14 12:30] LeandroBraier commented on #75
Perfecto, Fede. Ahí acabo de probar. Dos detalles:

1) Vos decís que si da error el captcha le aparece el mensaje igual pero el formulario no llega? Si pone mal el captcha le debería decir: "Captcha incorrecto" y que lo complete bien.

2) Estoy viendo una sección de la web que ya no funciona bien. Tiene que ver con el mail que mandó MK a Duplika hoy?

<img width="1003" alt="captura de pantalla 201

[2016-03-14 12:59] FAAREIA commented on #75
Hola Lea, ahi ya cambié el texto del mensaje de error.
Con respecto al sitio, lo veo todo perfecto. Habrá sido una mala conección con instagram o un error porque te tardó mucho en cargar, dudo que sea algo del hosting sino se verían varias cosas rotas.

[2016-03-22 12:58] LeandroBraier opened #80 "Investigación de nuevos lenguajes. 28/10"
@faareia Eze estuvo viendo 2 tecnologías que se vienen en lo que es lenguajes web:

Accelerated Mobile Pages: https://www.ampproject.org/

y Progressive Web Apps https://developers.google.com/web/fundamentals/getting-started/codelabs/your-first-pwapp/

Fede, cuando puedas investigate un poco estas y decime si te parece que podemos ofrecerle a nuestros clientes actuales o a nuevas algun update en e

[2016-03-28 12:35] FAAREIA commented on #80
Se puede aplazar esto? No creo que llegue con todo lo que hay para hacer

[2016-03-28 19:13] LeandroBraier commented on #80
Obvio que si, todo bien.

[2016-04-20 19:18] LeandroBraier commented on #80
@FAAREIA Esto te lo paso para después de la primera semana de mayo, después de Revear.

abrazo

[2016-04-22 00:07] LeandroBraier commented on #75
@FAAREIA testeaste el formulario? Quedó funcionando bien al final?

[2016-04-22 00:13] LeandroBraier opened #81 "Landing Cachafaz 22/04"
@FAAREIA para mañana necesitaría que me armes una nueva landing como esta:

http://mr.benteveo.tv/bowen-london/

1) La marca en este caso sería cachafaz, es decir que la URL sería:

/cachafaz/

2) Quitale la frase de arriba de todo: "Así mejoramos el posicionamiento de tu marca"

3) Reemplazá el video que aparece ahí por este:

https://vimeo.com/163736724/

El embed es este:

`<iframe src="https:/

[2016-04-22 12:17] FAAREIA commented on #75
Si, cuando lo probé mandaba con el captcha correcto y no mandaba si el catpcha era incorrecto. Si queres testealo una última vez asi te quedas tranquilo

[2016-04-22 12:18] FAAREIA commented on #81
http://mr.benteveo.tv/cachafaz/
No puse el embed, pase el video a html5 porque acordate que al final aparecian unos botones clickeables.

Abrazo

[2016-04-22 13:05] LeandroBraier commented on #81
Perfecto Fede! Mil gracias!

abrazo grande

[2016-04-22 13:05] #81 closed, assigned to FAAREIA

[2016-04-22 13:06] LeandroBraier commented on #75
Gracias Fede! Ahi lo testeé y estoy esperando que Eze me confirme si recibió todo bien. Igual probé con capcha malo y cuando falla me obliga a subir todo de nuevo, no hay forma de evitar eso? Digo, que el error del captcha sea dentro del mismo formulario?

[2016-04-22 17:22] FAAREIA commented on #75
Si pasa eso, habría que pasarselo a amalia nuevamente si queremos que sea diferente ya que la forma de enviar los mails que siempre usamos funciona asi, se envia el form y recien ahi te dice bien o mal, no te lo hace en el momento para luego enviarlo o no.

[2016-04-22 17:29] LeandroBraier commented on #75
Perfecto, entonces dejemoslo así. Cuando Eze me confirme que le llegó bien cierro el ticket.

abrazo

[2016-04-26 20:12] LeandroBraier commented on #75
Funciona joya Fede!!! abrazo grande

[2016-04-26 20:12] #75 closed, assigned to FAAREIA

[2016-04-28 15:22] LeandroBraier opened #82 "Hosting Propio Benteveo."
@mkreyness y @FAAREIA está caido duplika de nuevo. No anda Benteveo ni Parex, a uds si?

Me dio el OK Eze para avanzar con el hosting propio en Amazon. Uds me pasan un estimado de lo que necesitaríamos en specs para hostear TODOS los sitios que tenemos actualmente en Duplika? Puede ser para el lunes.

[2016-04-28 17:15] mkreyness commented on #82
Repasemos: serian:
- benteveo
- familia parex
- VIE TUR
- fuca
- que pasa con danica/paty ?

[2016-04-28 19:59] LeandroBraier commented on #82
De esa lista seguro quitar PATY. Danica creo que no está más no? Uds lo ven
al hosting?

On Thu, Apr 28, 2016 at 2:15 PM, mkreyness notifications@github.com wrote:

[2016-04-28 20:24] mkreyness commented on #82
hasta hace poco podia entrar, ahora no, pero capaz por las mudanzas raras que hace Duplika.
danica.com.ar directamente no responde el dominio. En Nic.ar figura como registrado hace 2 dias, para mi que se les vencio y estan empezando todo de cero.

danica.com.ar
Datos del dominio
Razón Social: quickfood s.a.
Documento: CUIT 30504131889
Fecha de Alta: 26/04/2016
Fecha de vencimiento: 26/04/2017

[2016-04-28 20:50] LeandroBraier commented on #82
Confirmado Marce. Ni Dánica ni Paty.
El abr. 28, 2016 5:29 PM, "mkreyness" notifications@github.com escribió:

[2016-04-28 20:56] mkreyness commented on #82
Me olvide de alguno ? Para el tema disco habria que sumar los espacios ocupados por todos estos servers (el de parex seguro que es el mas grande y tiene MUUUUCHA porqueria traida desde el sitio viejo que va a costar mucho mover, seria bueno limpiarla primero).
Y podriamos ir previendo capacidad como para incluir SiguitDS.
Yo no bajaria de un server con 8Gb de ram, y minimo 4 nucleos. Trafico desco

[2016-04-29 00:43] LeandroBraier commented on #82
Acá estoy repasando. Faltaron algunas:

Benteveo
Familia parex
VIE TUR
FUCA
Río Ancho
Francisco la película

Si no me equivoco esos son todos.

No te olvides de los dominios que tenemos y deben estar dentro de estos hostings, como Siguit

www.siguit.com

abrazo

[2016-04-29 00:57] mkreyness commented on #82
Pero vos dijiste "que tenemos actualmente en Duplika", ni Rio Ancho ni Siguit estan en Duplika.
Si se van a unificar tambien, barbaro, pero ocupan muy poco de todos modos.

FranciscolaPelicula.com ni idea donde esta, yo solo hice un sitio de casting que estuvo en su momento en el mismo benteveo.tv.

[2016-04-29 01:25] LeandroBraier commented on #82
Mmm, entiendo. Francisco sigue en Duplika igual.

http://cpanel.franciscolapelicula.com/

Tenés razón que Rio Ancho y Siguit no, por ahora dejemoslos ahi, no tuvimos
problemas con esos hostings.

2016-04-28 21:57 GMT-03:00 mkreyness notifications@github.com:

[2016-04-29 01:52] mkreyness commented on #82
Ok por lo que veo PanchoTheMovie no llega a ocupar ni 100 Mb, cabe en cualquier lado.

[2016-04-29 02:16] LeandroBraier commented on #82
Genial, como sería el proceso? hay que backupear?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Thu, Apr 28, 2016 at 10:52 PM, mkreyness notifications@github.com
wrote:

[2016-04-29 02:21] mkreyness commented on #82
en parte si, pero es mas complicado porque al juntar cosas que vivian c/u en su server por separado si las juntamos hay que armarlo distinto de como esta.
Esta bueno para unificar pero puede haber incompatibilidades entre cosas que se hicieron para, por ejemplo, klaukol y para VIE TUR.
Ademas en el caso de klaukol son 4 sitios, algunas cosas las comparten y otras no.
Hay que reorganizar bastante.

[2016-04-29 02:25] LeandroBraier commented on #82
Ok, vayan arrancando tranqui cuando puedan. No es urgente.

Pancho la peli no la traspasamos. Muere acá.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-04-28 23:21 GMT-03:00 mkreyness notifications@github.com:

[2016-04-29 02:38] mkreyness commented on #82
Igual no podemos reorganizar mucho donde ESTAN las cosas, seria ya al momento de traspasar para lo cual hay que contratar el hosting y empiezan a correr los gastos.
Lo unico que se puede ir haciendo en todo caso es aislar la basura vieja para no llevarla.

[2016-04-29 02:49] LeandroBraier commented on #82
Ok avancemos con eso y diganme bien las specs del hosting para tramitarlo.
Diganme Qué necesitan de mi para esto digamos.
El abr. 28, 2016 11:38 PM, "mkreyness" notifications@github.com escribió:

[2016-04-29 03:11] mkreyness commented on #82
No hay mucho que tramitar, lo que hay que hacer es determinar cuanto disco hace falta, estimar el costo mensual, que Eze/MS lo aprueben y lanzar la instancia en Amazon.
Se puede bajar el costo si se hace un pago upfront (anticipado).
Con sumar lo que esta ocupado de disco en los servers actuales (se ve en el cPanel). Yo creo que con 50Gb estamos bastante cubiertos. Igual el disco no suma mucho cos

[2016-04-29 12:48] FAAREIA commented on #82
Todo parex, con basura incluida, ocupa  al día de hoy 8.18 GB.
El bandwidth de este mes es de  92.49 GB

Habría que ver como influyen los 2 procesadores para semejante bandwidth, igual eso es totalmente escalable.

[2016-04-29 15:08] LeandroBraier commented on #82
Perfecto, sigan calculando esto chicos. Yo consulto con Eze y Marce tema
costos mientras tanto.

abrazo

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-04-29 9:48 GMT-03:00 Federico Arena notifications@github.com:

[2016-04-29 16:03] LeandroBraier commented on #82
@FAAREIA y @mkreyness tenemos el OK para avanzar con el nº de procesadores que consideren óptimo. Si conviene el de 4 vamos con el de 4. Falta algo más o ya puedo presupuestar en Amazon?

[2016-04-29 16:20] mkreyness commented on #82
dale, siempre mejor mas procesadores porque tenemos simultaneamente un servidor de base de datos + un servidor web + procesos que corren en background + posible upload/download cuando este siguitDS en uso. Lo que no necesitamos es tanta memoria porque nunca vamos a estar procesando volumenes grandes de base de datos. Para esta combinacion hay 2 opciones, practicamente equivalentes (procesadores en

[2016-04-29 16:38] LeandroBraier commented on #82
Buenisimo MK. Lo que estoy pensando es que si Parex tuvo 96 gb de trafico
en 1 mes, no nos vamos a pasar seguro de 100 gb? Eso no importa no? De
última nos cobran más de acuerdo al tráfico, verdad?

Confirmame y avanzo.

2016-04-29 13:20 GMT-03:00 mkreyness notifications@github.com:

[2016-04-29 16:49] mkreyness commented on #82
claro, no hay tarifas o bloques para elegir de trafico, solo puse lo que costaria si ese fuera el trafico.
Ojo siempre es trafico OUTBOUND, el inbound es gratis. Capaz esos 96 que decis son out+in ?
Igual te cuento que 100 GB de trafico son 9 dolares.
Si un mes se duplicara eso (lo cual implicaria un gran exito en algun sentido seguramente), serian 9 dolares mas ese mes, eso es todo.

[2016-04-29 16:55] LeandroBraier commented on #82
Perfecto, avanzo. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Apr 29, 2016 at 1:49 PM, mkreyness notifications@github.com wrote:

[2016-04-29 17:21] LeandroBraier commented on #82
Así estaría OK MK?

<img width="1433" alt="costo hosting propio benteveo en aws" src="https://cloud.githubusercontent.com/assets/6719872/14923788/9d23a0e8-0e15-11e6-8f70-9d9915dc8671.PNG">

Confirmame y se lo mando a @MSusevich

[2016-04-29 17:21] LeandroBraier commented on #82
El link al calculador es este:

http://calculator.s3.amazonaws.com/index.html

[2016-05-05 13:36] LeandroBraier opened #83 "Pedido 360 de nuevo prospect en Chile"
@mkreyness un nuevo prospect que estamos pitcheando en Chile nos pide un Video 360º (que sabemos como hacer) pero embebido dentro de una aplicación que le permita hacer play, pausa, retroceder y adelantar. De qué manera te parece mejor hacerlo?

A mi se me ocurre una web en locked up browser o una aplicación web HTML5 aprovechando el Construct. Qué decís?

Es solo para saber cuál sería la mejor fo

[2016-05-05 21:31] mkreyness commented on #83
El asunto es tener el player que lo permita ver y que funcione dentro de ese browser. A mi algunos pocos videos 360 me funcionan bien en Youtube desde Chrome y otros (la mayoria) no.
Usar el construct no le veo sentido, salvo que sea para algo del resto de la aplicacion. En realidad todo depende de eso, con que lo tenes que integrar. Porque hacer una pagina HTML5 con un youtube player con controle

[2016-05-05 21:36] LeandroBraier commented on #83
Ah, genial. Me quedo más tranquilo entonces. No tenemos muy claro cuál es el pedido. Por momentos nos parece que nos están hablando de Realidad Virtual incluso, cuando sepa algo más te aviso.

Trivial es un par de hs nomás y lo puede hacer Fede solo?

[2016-05-05 21:40] mkreyness commented on #83
Por eso te digo, depende de la integracion con el resto de la aplicacion, si por moverse dentro del video 360 hay que interactuar con otras cosas, sonamos (con Construct o lo que sea, hay que ir a otra plataforma mas especifica y seguramente que requiere un muy buen hardware), ahora si es solo poner un video de youtube embedded, si, eso lo puede hacer Fede.

[2016-05-05 22:01] LeandroBraier commented on #83
Claro pero el tipo no quiere hacer clic en un Play en la pantalla. Quiere
un control remoto desde donde pueda hacer play, pause, rewind, forward. Eso
implica interacción con el teclado o dispositivo de entrada que usemos no?

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-05 18:40 GMT-03:00 mkreyness notifications@githu

[2016-05-05 22:13] mkreyness commented on #83
Pero  para moverte dentro del video 360 tendrias que tener tambien con que hacer izquierda-derecha/arriba-abajo, no solo play-pause-rewind-forward.
Hay teclados inalambricos que incluyen mouse, todo eso se podria hacer sin que el browser se entere de que no es un teclado/mouse real.

[2016-05-05 22:21] LeandroBraier commented on #83
Claro, entiendo. El izquierda derecha etc es con el cardboard o el casco de
oculus, lo que nos contratan.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

2016-05-05 19:13 GMT-03:00 mkreyness notifications@github.com:

[2016-05-05 22:25] mkreyness commented on #83
Ah, entonces no hay una computadora realmente, esto se va a ver en un celular o casco, pero el tipo va a tener en la mano algo para parar/rebobinar. En tal caso ojo que al celular no se le puede poner cualquier cosa, habria que ver si no se venden controles remotos especificos para esto.

[2016-05-05 22:28] LeandroBraier commented on #83
Claro. Complicado.  Mañana lo hablo con Eze a eso.

Abrazo y gracias!
El may. 5, 2016 7:25 PM, "mkreyness" notifications@github.com escribió:

[2016-05-05 22:28] mkreyness commented on #83
Si es asi, no te puedo asegurar que funcione con un HTML5, porque una cosa es estar en un browser desktop y otra cosa un browser mobile. El cardboard en si es una aplicacion especifica, ni que hablar de Oculus.

[2016-05-06 14:41] LeandroBraier commented on #83
Buen día @valentinsabbath Te paso un pedido urgente. Necesitamos que nos investigues como es la tecnología de realidad virtual colectiva que usan acá en Argentina, por ejemplo, en Temaiken o Tecnopolopis. Llevan grupos de chicos a una carpa, cada uno con un oculus pero todos ven el mismo video, centralizado y manejado por una especie de guía. Por fa averiguate lo que puedas de qué elementos usan y

[2016-05-09 15:31] ghost commented on #83
@LeandroBraier esto lo fui respondiendo por mail, pero por aca aclaro que en Tecnópolis  y Temaikén crean una experiencia 360 con una pantalla circular. No tiene relación con una experiencia inmersiva con un cardboard o cualquier casco VR

[2016-05-09 15:38] LeandroBraier commented on #83
Gracias Valen!! Alertados entonces.

[2016-06-29 11:28] #83 closed, assigned to nobody

[2016-06-29 11:30] LeandroBraier commented on #82
Buen día @mkreyness y @FAAREIA !

Les paso un listado de pasos que tendríamos que seguir para trasladar cada sitio de Duplika a un hosting propio. Agreguen en este comment los pasos que falten así empezamos a aplicarlo. Yo probaría primero con Benteveo y después con Comunidad VIE TUR (que el cliente lo reclama urgente porque la ultima vez casi 1 día estuvo caido el sitio).
1. Lista de Directorios

[2016-06-29 11:48] mkreyness commented on #82
un servidor no es SOLO un sitio.
Hay bases de datos que hay que traladar, hay programas que no tienen que ver con los sitios (cosas que corren en background).
Para mi el mayor problema de benteveo.tv  es el MAIL.
Todas las casillas de mail que fisicamente estan ahi, cada uno que se conecte por IMAP tiene que asegurarse de haber levantado todo antes de mudarse a otro lado.
Y mucho peor aun, Amazon

[2016-06-29 12:06] LeandroBraier commented on #82
Entiendo MK. Agregame los pasos que faltan en el comment porfa así ordenamos un proceso bien completo.

Entiendo que antes de mover los sitios entonces hay que backupear y mover las casillas de mail.

Lo de gmail yo lo averiguo para ahorrar esas horas de configuración.

abrazo

[2016-06-29 12:14] mkreyness commented on #82
Para mi los pasos son:
a) en Amazon
- dimensionar nuevo servidor (decidir si va benteveo+siguit o si va a tener todo lo demas tambien)
- contratar el servidor
- hacer toda la instalacion de base (siempre vienen pelados)
  - base de datos
  - servidor web
  - servidor mail (si se puede evitar mejor)
    b) en Duplika
  - backupear base de datos fase 1
  - copiar directo todas las carpetas de progra

[2016-06-29 12:25] mkreyness commented on #82
no se por que se rompio todo el formato que escribi, le puso unos circulitos y agrupo todo mal.
Voy a tratar de rehacerlo en el proximo bloque.

[2016-06-29 12:27] mkreyness commented on #82
a) en Amazon
- dimensionar nuevo servidor (decidir si va benteveo+siguit o si va a tener todo lo demas tambien)
- contratar el servidor
- hacer toda la instalacion de base (siempre vienen pelados)
- base de datos
- servidor web
- servidor mail (si se puede evitar mejor)

---

b) en Duplika
- backupear base de datos fase 1
- copiar directo todas las carpetas de programas (no tiene sentido backupear

[2016-06-29 12:28] mkreyness commented on #82
Es una basura esto !!!! lo formatea como se le canta las pelotas !

[2016-08-05 12:46] LeandroBraier opened #84 "Vaciado de maquetas de Hosting Benteveo"
@FAAREIA apenas termines con las maquetas del evento de Klaukol, podrás borrar todas las maquetas viejas subidas al hosting de Benteveo?

<img width="264" alt="captura de pantalla 2016-08-05 a las 10 10 25 a m" src="https://cloud.githubusercontent.com/assets/6719872/17437003/6fe23d78-5af1-11e6-8d88-e7c2e565b006.png">

Todo lo que es Danica, Paty, Klaukol y Revear se puede eliminar seguro, pero vos

[2016-08-05 14:37] LeandroBraier opened #85 "Agregar Dirección de Chile en Sección Contacto Benteveo"
Av. Apoquindo 5555 Of 1212, Las Condes, Santiago, Chile.

Solo eso, sin teléfono.

[2016-08-11 11:44] LeandroBraier opened #86 "Agregar Videos en Web Benteveo"
@FAAREIA necesitaría apenas puedas que sumes estos videos en como últimos videos en la sección "Últimos trabajos"

https://vimeo.com/174752887

https://vimeo.com/164103480/

https://www.youtube.com/watch?v=un9XF5bZ5GM

Si el tercero no te sirve porque tiene que estar en vimeo avisame y te lo subo especialmente.

abrazo

[2016-08-11 14:52] FAAREIA commented on #85
Hecho

[2016-08-11 15:34] #84 closed, assigned to FAAREIA

[2016-08-11 15:35] LeandroBraier commented on #85
Gracias @FAAREIA !

[2016-08-11 15:35] #85 closed, assigned to FAAREIA

[2016-08-18 12:53] FAAREIA commented on #86
Hecho

[2016-08-18 13:01] LeandroBraier commented on #86
Gracias @FAAREIA ! Porfa urgente cambiá el tercer video que pusiste, que está mal. El que te pasé es este:

https://www.youtube.com/watch?v=un9XF5bZ5GM

El que subiste vos no lo hicimos nosotros y no sé de donde lo sacaste jeje

Lo que te pasé es una Receta de cocina.

[2016-08-18 16:51] FAAREIA commented on #86
Que raro, capas que se puso el siguiente video y lo tome como el original. Ahi ya lo arreglé ^^

[2016-08-18 16:56] LeandroBraier commented on #86
Gracias @FAAREIA !! abrazo

[2016-08-18 16:56] #86 closed, assigned to FAAREIA

[2016-09-08 22:21] LeandroBraier opened #87 "Cambiar Contraseñas Benteveo"
@mkreyness habrá alguna forma de que cada usuario cambie la contraseña?

[2016-09-08 22:36] mkreyness commented on #87
Estas hablando del mail ? No, me las tienen que pasar a mi.

[2016-09-08 22:42] LeandroBraier commented on #87
Pero no es poco práctico? No hay alguna alternativa? Es un chino.

[2016-09-08 22:44] mkreyness commented on #87
Si, es muy poco práctico.
Pero no conozco ningun servicio que permita que se cambie la contraseña desde el cliente de mail.
Son funciones del administrador del sitio, que es MS, y me lo delegó a mi.

[2016-09-08 22:46] LeandroBraier commented on #87
Ok, te paso por este ticket entonces los pedidos jeje.

2016-09-08 19:44 GMT-03:00 mkreyness notifications@github.com:

[2016-09-08 22:49] mkreyness commented on #87
lo mas complicado es sincronizar el cambio con los usuarios, avisales primero y recien cuando tengas confirmacion de que saben que tienen que cambiar la clave, me la pasas.

[2016-09-09 12:24] LeandroBraier commented on #87
Buen día @mkreyness ! porfa cambiá la password de nicolas@benteveo.tv a **doremifasollasi** y avisame.

abrazo

[2016-09-09 12:36] mkreyness commented on #87
Listo

[2016-09-09 12:49] LeandroBraier commented on #87
Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Fri, Sep 9, 2016 at 9:36 AM, mkreyness notifications@github.com wrote:

[2016-09-14 18:53] LeandroBraier commented on #87
@mk

[2016-09-14 18:53] #87 closed, assigned to mkreyness

[2016-09-14 18:54] LeandroBraier opened #88 "Mail Nuevo"
@mkreyness necesito que me crees un mail nuevo: marino@benteveo.tv

Y que le pongas de password: b3nt3v30

Cuando lo tengas pasame porfa.

abrazo

[2016-09-14 18:58] mkreyness commented on #88
Listo, avisame (siendo que es Marino) si necesita alguna quota especial de disco, porque el default es 1Gb.

[2016-09-14 19:00] LeandroBraier commented on #88
No, 1gb está más que bien. Que él vaya borrando y listo. Gracias!

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora http://benteveo.tv
Móvil 1158717399

On Wed, Sep 14, 2016 at 3:58 PM, mkreyness notifications@github.com wrote:

[2016-09-14 19:00] #88 closed, assigned to mkreyness

[2016-10-24 19:15] LeandroBraier commented on #80
@FAAREIA revivo este tema y actualizo el ticket. Para el viernes fijate si podés echarle un ojo y responderme las consultas. abrazo

[2016-12-02 15:58] FAAREIA commented on #80
Estuve viendo lo de AMP y esta bueno pero me parece que es para proyectos de público masivo como un diario. Por supuesto que puede aplicarse a cualquier tipo de proyecto pero tiene su propio lenguaje de como armar el HTML y algunas cosas poco prácticas que son asi para lograr una "optimización absoluta" de todos los elementos del HTML renderizado.

El otro aún no pude verlo

[2016-12-04 03:59] LeandroBraier commented on #80
Genial @FAAREIA Justo MS nos pasó este link hace un rato: https://www.ampproject.org/learn/about-amp/

Creés que podrás implementarlo a nuestros mailings? Sería ideal, porque desde Klaukol (no newsletter, sino los otros) nos están pidiendo rediseñarlos para el año que viene.

[2016-12-05 20:02] FAAREIA commented on #80
El tema del AMP es que uno tiene que escribir el HTML de cierto modo y luego un script hace y reemplaza todo lo necesario. En los mailings no hay forma de incluir un script y busqué a ver si había algo especial pero no hay nada.

[2016-12-05 20:27] LeandroBraier commented on #80
OK, entonces tengamoslo en cuenta para la nueva web de benteveo que se
viene.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

2016-12-05 17:02 GMT-03:00 Federico Arena <notifications@github.com>:

[2016-12-22 20:20] LeandroBraier opened #89 "Investigar para futuras aplicaciones si puede ser util"
https://developers.google.com/web/fundamentals/getting-started/codelabs/your-first-pwapp/

[2016-12-22 20:20] #80 closed, assigned to FAAREIA

[2016-12-22 21:01] ghost commented on #89
Puede ser una muy buena manera de generar páginas web y apps web para celu,
mas livianas que las aplicaciones nativas quizás

El 22 dic. 2016 5:20 p. m., "LeandroBraier" <notifications@github.com>
escribió:

[2016-12-22 21:51] LeandroBraier commented on #89
Genial Valen! Tengamoslo en el tintero por si surge la necesidad o el cliente.

abrazo

[2016-12-22 21:51] #89 closed, assigned to nobody

[2017-01-11 19:50] LeandroBraier commented on #82
@mkreyness estoy reflotando esto.

Ahora que lo de los mails está solucionado, podríamos empezar a avanzar con esto. Decime cuántas horas te llevaría a vos hacerlo y en qué te podría ayudar Valentin. En base a eso hablo mañana con Eze para ver cómo avanzamos.

abrazo

[2017-01-11 20:08] mkreyness commented on #82
No esta tan solucionado con esto de los forwarders que tiran error. Terminemos primero de ver eso.
En cuanto a horas, yo bajaria tiempos usando el server que ya tenemos armado (aunque apagado), revisaria un poco a ver si nos queda chico por algo pero no creo.
Y despues todo es migracion.

[2017-01-11 20:28] mkreyness commented on #82
Te paso en limpio lo que quedaria para hacer de lo de arriba asumiendo que el servidor que hay ya nos sirve.

Introduccion:

Lo que se deberia migrar es:
benteveo.tv/com
el server de delviento
micrositios varios que se instalaron ahi (lo que no haga falta mejor backupearlo y no pasarlo, como toda esa cosa de las "marcas" que redireccionan a mr.benteveo.tv que termino siendo muy mala idea)
microsit

[2017-01-11 20:52] LeandroBraier commented on #82
Buenisimo MK. Igual necesitaría saber un estimado al menos de tus horas para que Eze me apruebe avanzar. Siendo que el server ya lo tenemos podemos empezar los pasos A y B apenas me apruebe.

Entonces reconsulto:

1) Estimado de horas tuyo.

2) En qué tareas te puede ayudar Fede, Valen o yo, para aliviarte el laburo y de paso servir de doble check.

[2017-01-11 21:01] mkreyness commented on #82
Quien define que queda y que se backupea + borra ?
De eso depende el volumen del trabajo, y del volumen depende el tiempo que lleva transportarlo, chequearlo, etc.

Valen puede hacer todo el backupeo y traslado de datos y carpetas, pero no conoce casi nada de lo que hay adentro ni que tendria que verse.

Fede (o cualquiera que conozca lo que tendria que verse) puede chequear que los sitios funcion

[2017-01-11 21:03] mkreyness commented on #82
Despues si es menos, sera menos. Yo facturo lo que realmente tardo, esto es una cota de maxima.

[2017-01-11 21:09] LeandroBraier commented on #82
Perfecto. Con esto hablo con Eze.

Lo de los sitios lo defino yo. Para eso deberia poder ver todo el arbol de
carpeta de cada hosting de duplika no? Eso lo hago por CPanel?
El 11 ene. 2017 18:03, "mkreyness" <notifications@github.com> escribió:

[2017-01-11 21:14] mkreyness commented on #82
Si, pero te vas a encontrar muchas cosas que ni vas a saber que son, tenemos que hacer interconsulta entre los cuatro (Fede, Valen, vos y yo). Si algo nadie lo reconoce, entonces se puede marcar como "no migrar"
Tendrias que ir llevando una planilla con la lista de cosas y que c/u marque las que conoce, despues por descarte saltan las que nadie conoce.

[2017-01-11 21:28] LeandroBraier commented on #82
Dale, hacemos así. Entro al cpanel de cada server, busco las listas, las
paso a un excel todas juntas y marco las que sé que hay que migrar y las
que sé que no. Las que tengo dudas las consultos con vos y Fede.

2017-01-11 18:14 GMT-03:00 mkreyness <notifications@github.com>:

[2017-01-11 21:50] mkreyness commented on #82
Ok, lo que tenes que fijarte es lo que depende de public_html

[2017-01-12 00:07] mkreyness commented on #82
para, por que decis "de cada server", estamos hablando de un solo server, benteveo.tv

[2017-01-12 00:36] LeandroBraier commented on #82
Ah. Yo ya estoy pensando en pasar parex revear todo
El 11 ene. 2017 21:07, "mkreyness" <notifications@github.com> escribió:

[2017-01-12 00:41] mkreyness commented on #82
No, lo que yo te digo es solo de Benteveo.
Mover parex es otra historia completamente distinta porque ahi conviven multiples domains. Para eso si habria probablemente que contratar otro hosting separado. No podemos tener benteveo + parex + vietur + fuca todo en un solo server, y hay mil cosas que repensar.

[2017-01-12 01:32] LeandroBraier commented on #82
Ok. Seamos fieles al ticket entonces. Movamos benteveo primero y vamos paso
a paso. Consulto con Eze mañana y te digo.

abrazo

On Wed, Jan 11, 2017 at 9:41 PM, mkreyness <notifications@github.com> wrote:

[2017-01-12 01:36] mkreyness commented on #82
Claro, ademas el server de parex tiene gigas y gigas de basura que viene de la migracion original, ahi si que hay que hacer una limpieza gigante y NO backupearlo, porque no cabe en ningun lado.
Si vemos que una vez migrado algo falta, lo vamos rescatando del viejo y cuando anda todo se apagara y chau.

[2017-01-12 01:38] LeandroBraier commented on #82
SI, eso lo habíamos hablado.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

2017-01-11 22:36 GMT-03:00 mkreyness <notifications@github.com>:

[2017-01-16 17:58] LeandroBraier commented on #82
Tenemos el OK para avanzar. Más allá de la eliminación de contenidos sobrantes que hago con Fede la semana que viene, en qué más pueden ir avanzando uds?

Sino pasame el listado o el link al listado y te digo qué borramos.

abrazo

[2017-01-16 19:23] mkreyness commented on #82
las carpetas las podes ver por aca:
http://www.benteveo.tv:2082/cpsess4126526497/frontend/paper_lantern/filemanager/index.html
(obviamente por aca no te voy a pasar user/pass, pero las tenes)
Ahi hay un par de cosas de FUCA  y una de Sadia que creo que se pueden borrar, fueron los subdominios de prueba sobre los que estuvo trabajando Fede.
Y si entras en public-html vas a ver estas cosas que habri

[2017-01-16 19:25] mkreyness commented on #82
Agregalo a Valen si te parece asi puede ver la lista de tareas que estaba mas arriba.

[2017-01-16 19:28] mkreyness commented on #82
A esa lista le agregaria esto,

- Migrar el NEOROUTER server del server chiquito en amazon al server grande

que se podria ir haciendo pero es probablemente un trastorno importante porque hay que ver como se puede mover toda la data de los clientes habilitados para que el nuevo server instalado acepte las mismas conexiones, sin que haya que modificar nada en los 800 clientes que hay.

[2017-01-16 22:41] LeandroBraier commented on #82
@mkreyness te paso lo que vi de los contenidos que me consultaste pero la verdad que en muchas carpetas no veo nada adentro. Eso es por el administrador en que lo estoy viendo?

DUDA: (qué hay adentro? no veo nada)
http://fuca2.benteveo.tv/
http://fuca3.benteveo.tv/
/public_html/ blog

A BORRAR SEGURO:
sadia.benteveo.tv
camino-fuca
fuca
klaukol-colocador-busca-evento
master-idiomas
mr (este es el

[2017-01-16 22:51] mkreyness commented on #82
Ah, se ve que son carpetas creadas por el CPanel cuando se crearon esos subdominios para probar, capaz nunca se usaron.

"Blog" de alguna manera cuando se entra con blog.benteveo.tv lleva a esto:

http://blog.benteveo.tv

aparecen articulos, viejos, pero capaz estan apuntados desde alguna red social o algo asi. NO estan hosteados realmente en este server, parecen estar en algun blog engine de Goog

[2017-01-16 23:10] LeandroBraier commented on #82
Uuuuh me había re olvidado de esto! jeje

No lo borremos entonces.

Y los fuca2 y fuca 3?

2017-01-16 19:51 GMT-03:00 mkreyness <notifications@github.com>:

[2017-01-17 00:43] mkreyness commented on #82
Igual no hay nada que borrar, las carpetas estan vacias. Esta creado el subdominio pero ni se para que, en los DNS simplemente apunta a algo de Google, asi que va a seguir funcionando... siempre que repliquemos eso en los DNS de Amazon.

[2017-01-17 00:43] mkreyness commented on #82
Los otros dos tampoco tienen nada.

[2017-01-17 01:35] LeandroBraier commented on #82
Genial, entonces dejemoslos por las dudas. Podemos avanzar ya entonces?

On Mon, Jan 16, 2017 at 9:43 PM, mkreyness <notifications@github.com> wrote:

[2017-01-17 01:52] mkreyness commented on #82
Si, copialo a Valentin en este thread asi le empiezo a agregar info.

[2017-01-17 03:43] mkreyness commented on #82
Ya hice un subdomain nuevo.benteveo.com que esta apuntando al ubuntu de Amazon.
Por supuesto el DNS lo cargue en duplika, por ahora.
A ver si yo pongo @valentinsabbath si Valen empieza a recibir esto.
Valen si lo ves, anda haciendo dump de las siguientes bases en benteveo.tv:
benteveo_acms
benteveo_chat
benteveo_cms
benteveo_datasci
benteveo_delviento
benteveo_siguitds (esta seguramente esta pasad

[2017-01-17 04:40] ghost commented on #82
Listo @mkreyness

[2017-01-17 11:26] mkreyness commented on #82
Perfectirijillo !
Ahi estuve borrando las carpetas mencionadas mas arriba, encontre tambien que hay un par de archivos gigantes que se llaman pantallas.zip y pantallas2.zip que son relativamente recientes (15-dic), @LeandroBraier vos tenes idea de que son ? Asi no copiamos al cuete.

Mientras si queres @valentinsabbath se podria ir copiando lo que hay en /home/benteveo/mk a
nuevo.benteveo.com:/hom

[2017-01-17 11:33] LeandroBraier commented on #82
mmm qué misterio MK! Me pasarías un link para descargarlas? Intuyo que se pueden borrar, pero por las dudas.

[2017-01-17 12:35] mkreyness commented on #82
las ves ahi mismo en el link que te pase, estan en la carpeta public_html

[2017-01-17 15:15] ghost commented on #82
Copiados @mkreyness !

[2017-01-17 15:20] LeandroBraier commented on #82
Confirmado MK. Pantallas.zip y Pantallas2.zip pueden borrarse.

[2017-01-17 15:52] mkreyness commented on #82
Borrados.
Entonces ahora si @valentinsabbath me copias en nuevo.benteveo.com/delviejo/public_html) todo el contenido de /home/benteveo/public_html ?
Ojo no se si no estamos quedandonos cortos de espacio, cualquier cosa move todo al otro disco que hay en esa maquina (esta montado como /otrodisco)

[2017-01-17 15:53] ghost commented on #82
Ya copié todo antes.
No debería borrar esas cosas de lo que ya copié a Ubuntu?

[2017-01-17 16:20] mkreyness commented on #82
Pero no copiaste public_html, copiaste mk y vg y los dumps. Lo que te digo ahora es que copies public_html, que puede ser muy grande porque hay imagenes y videos.

NO se puede borrar nada de Duplika porque tienen que seguir funcionando hasta que migremos.
Ademas necesitamos comparar el funcionamiento de viejo contra nuevo antes de pasar a nuevo.

[2017-01-17 16:21] ghost commented on #82
Ah ok!

[2017-01-17 16:51] ghost commented on #82
Listo @mkreyness , copiado en "otrodisco"

[2017-01-17 19:46] mkreyness commented on #82
ok, por cualquier cosa lo apunte desde /home/ubuntu/delviejo/public_html -> /otrodisco/public_html
asi veo todo lo "delviejo" junto.
Esta noche me pongo a reacomodar las cosas a ver si arrancan.

[2017-01-25 15:04] LeandroBraier commented on #82
@mkreyness y @valentinsabbath como venimos con esto? me avisan cuando ya esté todo?

[2017-01-25 19:34] mkreyness commented on #82
en principio esta todo, pero no estoy 100% seguro de que es "todo".
Y lo que tiene que ver con datos por si acaso hay que actualizarlo al momento de reapuntar los DNS.
Entiendo que es solo lo de Del Viento.

Yo te digo lo que esta:
- pagina web de benteveo (vos ahi detectaste el problema de instagram que creo que es independiente de esto), con su chat
- CMS de DelViento
- Monitoreo de DelViento
-

[2017-01-26 21:38] mkreyness commented on #82
@valentinsabbath ? Algo que se te ocurra que falte ?

[2017-01-27 13:06] ghost commented on #82
Recién veo esto.
Se que está en otro hosting, pero no habría que migrar la web de Vie Tur porque necesita un server en node.js para el videochat?

[2017-01-27 13:15] mkreyness commented on #82
Pero acaso el server tiene que estar en el mismo dominio que la pagina web desde la que se lo usa ?
Mientras podamos tener el server en amazon (en el nuevo hosting de benteveo) y referenciarlo desde las paginas de comunidad.vietur.com.ar, no hace falta mudar a comunidad.vietur.com.ar
Tarde o temprano se va a hacer, pero no mezclemos con esto que es Benteveo y lo estamos tratando de cerrar.

[2017-01-27 13:40] ghost commented on #82
No lo probé pero seguro que se puede. Entonces no tengo ninguna objeción para el resto de las cosas

[2017-01-27 13:43] mkreyness commented on #82
pero todo lo tuyo de DelViento estaria completo pasado ya ?

[2017-01-27 13:43] ghost commented on #82
Si, era solo el monitoreo

[2017-01-30 19:28] LeandroBraier commented on #82
Entonces ya estamos @mkreyness ?

[2017-01-30 20:05] mkreyness commented on #82
Tendriamos que hacer una pruebita del chat, quien lee actualmente la casilla a la que llegaba el chat ?
Si eso anda ok (anda, pero con mi casilla se genera mucha basura de texto, supuestamente lo que se manda desde la de GMail yo lo habia logrado "limpiar"), quedaria hacer 2 cosas:
- volver a pasar la base de datos de DelViento, por si acaso hubo cambios
- hacer todo el cambio de DNSs en LOS DOMIN

[2017-01-30 20:08] LeandroBraier commented on #82
Ok avancemos. Hacemos una prueba de chat nomas cuando puedas.

El 30 ene. 2017 17:05, "mkreyness" <notifications@github.com> escribió:

[2017-01-30 20:09] mkreyness commented on #82
Pero te llega a vos ?

[2017-01-30 20:13] mkreyness commented on #82
Anda muy feo, lo que se ve es esto:
Content preview: Anda > On Jan 30, 2017, at 5:10 PM, > > Anda este chat, digo yo ? > [...] Content analysis details: (-2.5 points, 5.0 required) pts rule name description ---- ---------------------- -------------------------------------------------- -0.0 RCVD_IN_DNSWL_NONE RBL: Sender listed at http://www.dnswl.org/, no trust [209.85.220.178 listed in list.dnswl

[2017-01-30 20:13] mkreyness commented on #82
Ahora voy a probar desde el de Duplika

[2017-01-30 20:15] mkreyness commented on #82
Ja, ahi directamente no anda, salta el cartel de mantenimiento.
Bueno voy a ver como limpiarle toda esa spuzza a la respuesta.

[2017-01-30 20:18] LeandroBraier commented on #82
Gracias! A mi me llegó pero respondí a los 6 minutos. Estoy sin luz y con
internet lento en una estación de servicio.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

On Mon, Jan 30, 2017 at 5:15 PM, mkreyness <notifications@github.com> wrote:

[2017-01-30 20:20] LeandroBraier commented on #82
@mkreyness mirá lo que me dice Mariana:

`Te acordás que desde la compu, salian bien los mails de .com? Bueno dejaron de salir... entonces probé cambiar too acá a SSL puerto 465 y volvieron a salir con normalidad... ete aquí que ahora, nuevamente NO salen!`

Algo parecido le pasó a Nahuel. Le dejaron de llegar mails la semana pasada y le llegaron 8 hs más tarde todos juntos. Tenés idea de qué pued

[2017-01-30 20:22] mkreyness commented on #82
La verdad que no, yo no estuve tocando nada desde que hicimos el cambio.
Capaz alguna cosa transitoria de MXRoute.  MS tambien tuvo problemas pero eran por algo cacheado en su router, lo reinicio y se arregló.

[2017-01-30 20:25] LeandroBraier commented on #82
Pero no se puede averiguar qué es y solucionarlo para todos? Mariana o Nahuel o yo no tenemos los conocimientos que tiene MS para reiniciar el router o lo que fuera.

[2017-01-30 20:26] mkreyness commented on #82
No, es otra cosa. A mi tambien me esta pasando.
Es algo de mxroute, dejame ver si hay algun aviso o algo en su sitio.

[2017-01-30 20:27] mkreyness commented on #82
mira, tuvieron un problema el sabado:
Ghost Outage Post-Mortem
January 28, 2016

All times are US/Central.

Timeline:

3:43 AM - Monitor reports Ghost down, switches to DDOS protected IP
7:49 AM - DNS manually switched back to primary
8:03 AM - Ghost server online

What happened:

Monitor falsely reported outage. Traffic through DDOS protected tunnel appeared as SYN flood, nodewatch disabled Ghost

[2017-01-30 20:27] mkreyness commented on #82
Capaz hoy este pasando algo similar

[2017-01-30 20:28] mkreyness commented on #82
ahi despues de un par de reintentos el mail que no me salia salio.
Para mi fue algo temporario, consulta a ver si se le arreglo a Mariana y Nahuel.

[2017-01-30 20:32] mkreyness commented on #82
y encima esto jode al chat que estamos probando, porque no me queda otra que usar el SMTP de ahi.
Te llegaron un par de mensajes mios nuevos del chat ?

[2017-01-30 20:46] LeandroBraier commented on #82
Nop, no me llegaron nuevos mensajes del chat.

[2017-01-30 21:17] mkreyness commented on #82
hay algo que hace que se tare la comunicacion entre el server de Amazon y el MXROUTE.
No me deja mandar los mails. Esto ya nos habia pasado con Valentin y la unica solucion fue hacer que cambie nuestro IP de Amazon. Pareceria como que MxRoute nos bloqueara el server de Amazon.
Voy a apagarlo y prenderlo otra vez y analizar mejor cuando es que se pudre todo.

[2017-01-30 21:29] ghost commented on #82
Vi que algunos que tienen problemas con el mailing checkean si la ip de la
instancia Amazon está en la lista negra
 http://whatismyipaddress.com/blacklist-check

Podría ser que al mandar cierta cantidad de mails ingrese en la lista negra
y mxroute deje de responder?

El 30 de enero de 2017, 18:17, mkreyness <notifications@github.com>
escribió:

--
*Atte. Valentín Gavela.*

[2017-01-30 21:37] mkreyness commented on #82
si pero CUANTOS mails mandamos ? Lo tuyo manda mails a repeticion siempre o solo cuando hay algun problema ?

[2017-01-30 21:37] mkreyness commented on #82
El chat no manda nada si nadie lo usa, asi que eso no puede ser.

[2017-01-30 21:38] ghost commented on #82
Andan tan bien las carteleras que mi mailer todavía no mandó NINGÚN mail

2017-01-30 18:37 GMT-03:00 mkreyness <notifications@github.com>:

--
*Atte. Valentín Gavela.*

[2017-01-30 21:39] mkreyness commented on #82
no podria haberlo hecho justamente. Recien ahora que apague y prendi puede conectarse.

[2017-01-30 21:41] mkreyness commented on #82
Yo ya perdi el IP que teniamos antes como para chequear si esta en esa blacklist, vos lo tenes en algun lado ? Ahora ya cambie el nuevo.benteveo.com al actual.

[2017-01-30 21:41] LeandroBraier commented on #82
jajajja a mi hoy me llegó un solo mail de esos hoy, pero es raro. Siempre
por Palermo llegan bocha.

Leandro Braier
Producción Audiovisual & Social Media
Benteveo Agencia Productora <http://benteveo.tv>
Móvil 1158717399

On Mon, Jan 30, 2017 at 6:38 PM, valentinsabbath <notifications@github.com>
wrote:

[2017-01-30 21:42] mkreyness commented on #82
ojo puede haberte llegado del otro server, esta en paralelo todo no Valen ?

[2017-01-30 21:43] ghost commented on #82
Sisis Lean te llegó de otro server y te mandé un mail diciendo que en
Palermo todavía no configuré el nuevo monitoreo porque se desconecta todo
el tiempo

El 30 de enero de 2017, 18:42, mkreyness <notifications@github.com>
escribió:

--
*Atte. Valentín Gavela.*

[2017-01-31 15:18] mkreyness commented on #82
por ahora el server de Amazon y MXRoute se estan llevando bien y el chat quedo limpio (cuando quieras @LeandroBraier hacemos otra prueba).

@valentinsabbath tenes medido cuantos mails por hora o por dia esta mandando tu proceso ?

[2017-01-31 15:23] ghost commented on #82
@mkreyness mi proceso está mandando cero mails por dia

El 31 de enero de 2017, 12:18, mkreyness <notifications@github.com>
escribió:

--
*Atte. Valentín Gavela.*

[2017-01-31 15:26] mkreyness commented on #82
Entonces no puede ser que MXRoute nos bloquee por algo de trafico.
Ok y SI mandara, cada cuanto mandaria ?

[2017-01-31 15:29] ghost commented on #82
Si mandara, sería solo si se desconectara una raspi y mandaría dos mail en
una hora por esa raspi y solo por esa hora

2017-01-31 12:26 GMT-03:00 mkreyness <notifications@github.com>:

--
*Atte. Valentín Gavela.*